<script setup lang="ts">
import { useCommon } from "@/Store/Common";
import { useMaster } from "@/Store/Home/Master";
const c = useCommon();
const master = useMaster();
</script>

<template>
  <p class="error-text">{{ c.T("L_Violations_claim_history_found") }}</p>
  <fieldset class="field">
    <table class="colored-rows">
      <thead>
        <tr>
          <th scope="col">{{ c.T("L_Driver") }}</th>
          <th scope="col">{{ c.T("L_Violation") }}</th>
          <th scope="col">{{ c.T("L_Date") }}</th>
          <th scope="col">{{ c.T("L_Carrier_Name") }}</th>
          <th scope="col">{{ c.T("L_Claim_Number") }}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in master.Instance.AttachedTypes.DriversViolations.Drivers.flatMap((driver) =>
          driver.Violations.map((violation) => ({ Name: `${driver.First} ${driver.Last}`, ...violation }))
        )" :key="item.Name">
          <td scope="row" :data-label="c.T('L_Driver')">
            {{ item.Name }}
          </td>
          <td scope="row" :data-label="c.T('L_Violation')">
            {{ item.Type === "APlus" ? "At Fault Accident" : item.Type }}
          </td>
          <td :data-label="c.T('L_Date')">{{ item.Date }}</td>
          <td :data-label="c.T('L_Carrier_Name')">
            {{ item.CarrierName }}
          </td>
          <td :data-label="c.T('L_Claim_Number')">
            {{ item.ClaimNumber }}
          </td>
        </tr>
      </tbody>
    </table>
  </fieldset>
</template>

<style lang="scss">
.field {
  overflow: auto;
  max-height: 220px;
  padding: 0;
  border: 0;

  @media (max-width: 511px) {
    @import "@/Styles/Misc/vertical-table.scss";
  }

  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;

    tr {
      background-color: #f8f8f8;
      border: 1px solid #ddd;
      padding: 0.35em;
    }

    th,
    td {
      font-size: 12px;
      padding: 0.625em;
      text-align: center;
      overflow-wrap: break-word;
    }

    th {
      font-size: 12px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }
  }

  .colored-rows tr:nth-child(even) {
    background-color: rgba(124, 37, 41, 0.16);
  }
}


.aplus {
  max-width: 95%;

  .g {
    margin: auto;
  }

  @media (min-width: 512px) {
    max-width: 500px;

    // height: 40px;
  }

  @media (min-width: 800px) {
    max-width: 80%;
    // height: 49px;

  }

  @media (min-width: 1200px) {
    max-width: 1000px;
    // height: 49px;

  }

  @media (min-width: 1900px) {
    max-width: 1100px;
    // height: 54px;
  }
}
</style>
