<script setup lang="ts">
import gsapAnim from "@/Scripts/Common/gsapAnim";
import { useAnim } from "@/Scripts/Home/Composables/anim";
import { useCommon } from "@/Store/Common";
import { useControls } from "@/Store/Home/Controls";
import { useMaster } from "@/Store/Home/Master";
import { useStateSpec } from "@/Store/Home/StateSpec";
import { onActivated } from "vue";

const controls = useControls()
const st = useStateSpec();
const master = useMaster();
const c = useCommon();
master.InitUnderwritingResponses();
const uwqs = controls.GetUWQs();

onActivated(() => {
  const temp = ["tt-anim", "tt-anim1"];
  temp.forEach((item) => {
    gsapAnim.fromRight({
      className: item,
      duration: 0.3,
      cord: "50%",
      scale: 0.9,
      staggerFrom: "start",
      ease: "none",
    });
  });
})
useAnim(true);
</script>

<template>
  <ul>
    <li class="q-list" v-for="(item, index) in  st.Data.UnderwritingQuestions " :key="item.DiamondId">
      <p class="form-label tt-anim">{{ item.Question }}</p>
      <div class="radio-buttons tt-anim1">
        <vRadioButton v-for="radio in  [{ value: -1, label: 'L_No' }, { value: 1, label: 'L_Yes' }] " :key="radio"
          v-model="master.Instance.Policy.UnderwritingResponses[index].Value" :item="radio"
          :disabled="master.Misc.SignComplete" @CHANGE="master.ClearAnswer(index); uwqs[index].error = undefined">
          <label>{{ c.T(radio.label) }}</label>
        </vRadioButton>
        <vTextbox v-model="master.Instance.Policy.UnderwritingResponses[index].Answer" :item="uwqs[index]"
          v-if="item.HasDescription == master.Instance.Policy.UnderwritingResponses[index].Value" />
      </div>
    </li>
  </ul>
</template>

<style lang="scss">
.q-list {
  border-top: var(--nav-lines);
  padding: 0 10px 10px 10px;

  .radio-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    label {
      cursor: pointer;
    }

    .horizontal {
      grid-column-gap: 0.3rem;
      padding: 15px;
    }

    .form-group {
      margin-bottom: 0;
    }
  }
}
</style>
