<script setup lang="ts">
import { useMaster } from '@/Store/Home/Master';
const m = useMaster();
const props = defineProps({
  modelValue: {
    required: true,
  },
  allow: {
    required: true
  }
})

</script>

<template>
  <vFormGroup v-bind:modelValue="modelValue" :noEdit="true"></vFormGroup>
  <!-- <div v-if="(modelValue as TFormGroup).header" class="cov-group" -->
  <div class="cov-group" v-for="(vehicle, index) in m.Instance.InsVehicles.Vehicles" :key="index">
    <label class="form-label">{{ `${vehicle.Year} ${vehicle.Make.Description} ${vehicle.Model.Description}` }}</label>
    <slot :vehicle="vehicle" :index="index" />
  </div>
</template>

<style lang="scss">
@import '@/Styles/Form/formLabel.scss';

.cov-group {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  padding-left: 5px;

  .group-horizontal {
    grid-template-columns: repeat(1, 1fr auto);
    grid-template-areas: "form-label icon-pencil";
  }

  @media (min-width: 400px) {
    grid-template-columns: repeat(1, 1fr auto);
  }
}
</style>