<script setup lang="ts">
import { useAnim } from '@/Scripts/Home/Composables/anim';
import { useControls } from '@/Store/Home/Controls';
import { useMaster } from '@/Store/Home/Master';
import { useStateSpec } from '@/Store/Home/StateSpec';
import { useValidate } from '@/Store/Home/Validate';
import { onActivated, onDeactivated } from 'vue';

const master = useMaster();
const st = useStateSpec();
const controls = useControls();
const validate = useValidate();

const policyCovs = master.Instance.Policy.Coverages;

const covs = controls.GetPolicyCoverages();

onActivated(() => {
  controls.SetVehicleCoveragesCls('group-horizontal');
});
onDeactivated(() => {
  controls.SetVehicleCoveragesCls();
})

</script>

<template>
  <div>
    <vDropdown v-model="policyCovs.BI" :itemOptions="covs.BI" :FalconDrop="st.Data.Dropdowns?.PolicyOptions?.BILimit" />
    <vDropdown v-model="policyCovs.PD" :itemOptions="covs.PD" :FalconDrop="st.Data.Dropdowns?.PolicyOptions?.PDLimit" />
    <vDropdown v-model="policyCovs.UMBI" :itemOptions="covs.UMBI"
      :FalconDrop="st.Data.Dropdowns?.PolicyOptions?.UMBILimit" />
    <vDropdown v-model="policyCovs.UIMBI" :itemOptions="covs.UIMBI"
      :FalconDrop="st.Data.Dropdowns?.PolicyOptions?.UIMBILimit" />
    <vDropdown v-model="policyCovs.PIP" :itemOptions="covs.PIP" :FalconDrop="st.Data.Dropdowns?.PolicyOptions?.PIPLimit"
      @CHANGE="validate.Data.OnPIPChange(covs.MP)" />
    <vDropdown v-model="policyCovs.MP" :itemOptions="covs.MP" :FalconDrop="st.Data.Dropdowns?.PolicyOptions?.MPLimit"
      @CHANGE="validate.Data.OnMPChange(covs.PIP)" />
    <vDropdown v-model="policyCovs.WorkLossBenefitsWaiver" :itemOptions="covs.WorkLoss"
      :FalconDrop="st.Data.Dropdowns?.PolicyOptions?.WorkLossBenefitsWaiver" />

    <vCoverageDropdown v-if="controls.Vehicles[0].ComColl.item.header" v-model="controls.Vehicles[0].ComColl.item"
      :allow="controls.Vehicles[0].ComColl.allow">
      <template v-slot:default="slotProps">
        <vDropdown v-model="slotProps.vehicle.Coverages.ComColDeductible"
          :itemOptions="controls.Vehicles[slotProps.index].ComColl"
          :FalconDrop="st.Data.Dropdowns?.VehicleOptions?.ComColDeductible" :noHeader="true"
          @CHANGE="validate.Data.OnComCollChange(slotProps.vehicle.Coverages, controls.Vehicles[slotProps.index])" />
      </template>
    </vCoverageDropdown>
    <vCoverageDropdown v-if="controls.Vehicles[0].UMPD.item.header" v-model="controls.Vehicles[0].UMPD.item"
      :allow="controls.Vehicles[0].UMPD.allow">
      <template v-slot:default="slotProps">
        <vDropdown v-model="slotProps.vehicle.Coverages.UMPD" :itemOptions="controls.Vehicles[slotProps.index].UMPD"
          :FalconDrop="st.Data.Dropdowns?.VehicleOptions?.UMPDLimit" :noHeader="true"
          @CHANGE="validate.Data.OnUMPDChange(slotProps.vehicle.Coverages, controls.Vehicles[slotProps.index])" />
      </template>
    </vCoverageDropdown>
    <vCoverageDropdown v-if="controls.Vehicles[0].UMPDDeDuct.item.header" v-model="controls.Vehicles[0].UMPDDeDuct.item"
      :allow="controls.Vehicles[0].UMPDDeDuct.allow">
      <template v-slot:default="slotProps">
        <vDropdown v-model="slotProps.vehicle.Coverages.UMPDDeductible"
          :itemOptions="controls.Vehicles[slotProps.index].UMPDDeDuct"
          :FalconDrop="st.Data.Dropdowns?.VehicleOptions?.UMPDDeductible" :noHeader="true" />
      </template>
    </vCoverageDropdown>
  </div>
</template>

<style lang="scss">
.cov-group {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  .group-horizontal {
    grid-template-columns: repeat(1, 1fr auto);
    grid-template-areas: "form-label icon-pencil";
  }

  @media (min-width: 400px) {
    grid-template-columns: repeat(1, 1fr auto);
  }
}
</style>