<script setup lang="ts">
import { useAnim } from '@/Scripts/Home/Composables/anim';
import { useCommon } from '@/Store/Common';
import { useMaster } from '@/Store/Home/Master';
import { useUI } from '@/Store/Home/UI';

const ui = useUI();
const c = useCommon();
const master = useMaster();
useAnim();
</script>

<template>
  <div>
    <vCheckbox class="animateQQ" :value="{ type: 'radio', checked: true, wrapped: true }"
      :disabled="master.Misc.SignComplete">
      <template v-slot:groupHead>
        <div class="t-header">
          <span class="ess">{{ c.T('L_Essential') }}</span>
          <span class="animate-update" v-html="ui.Section.Continue.Btn.value == 'L_Update_Rate'
            ? `<b>${c.T('L_Requires_update')}</b>`
            : master.GetPaymentInfo()"></span>
        </div>
      </template>
      <template v-slot:groupBody>
        <vCoverages></vCoverages>
      </template>
    </vCheckbox>
  </div>
</template>

<style lang="scss">
.t-header {
  display: flex;
  justify-content: space-between;

  span {
    white-space: pre;
    text-align: center;
    font-weight: 600;
  }

  .ess {
    font-weight: 700 !important;
  }
}
</style>
