<script setup lang="ts">
/*Notes: We need to add :FalconDrop as prop for 
all the vDropdown's, since we are setting :itemOptions with already
created vehicles controls (which might not have the updated dropdowns)*/
import { IVehicle } from '@/Scripts/Home/Interfaces/Insurance';
import { useControls } from '@/Store/Home/Controls';
import { useStateSpec } from '@/Store/Home/StateSpec';
import { PropType, watch } from 'vue';
import { useValidate } from '@/Store/Home/Validate';
import { useMaster } from '@/Store/Home/Master';

const controls = useControls();
const validate = useValidate();
const st = useStateSpec();
const master = useMaster();
const props = defineProps({
  vehicle: {
    type: Object as PropType<IVehicle>,
    required: true,
  },
  page: {
    type: Number,
    required: true,
  },
  index: {
    type: Number,
    required: true
  },
  cls: {
    type: String,
    default: ""
  }
});

const vc = controls.Vehicles[props.index];

watch(() => st.Data.VehicleYears, (newValue) => {
  if (newValue) {
    vc.Year.options = newValue.map(item => ({
      label: `${item}`,
      value: item
    }));
  }
})

</script>

<template>
  <div class="part part1" v-bind:class="cls">
    <vDropdown v-model="vehicle.Year" :disableSelection="page == 1 && master.Misc.DisableVehicleUpdate"
      @DISABLE_SELECT_ACTION="validate.RestrictVehicleUpdate" :itemOptions="vc.Year"
      @CHANGE="controls.UpdateMakes(vehicle, vc)" />
    <vDropdown v-model="vehicle.Make" :disableSelection="page == 1 && master.Misc.DisableVehicleUpdate"
      @DISABLE_SELECT_ACTION="validate.RestrictVehicleUpdate" :itemOptions="vc.Make"
      @CHANGE="controls.UpdateModels(vehicle, vc)" />
    <vDropdown v-model="vehicle.Model" :disableSelection="page == 1 && master.Misc.DisableVehicleUpdate"
      @DISABLE_SELECT_ACTION="validate.RestrictVehicleUpdate" :itemOptions="vc.Model"
      @CHANGE="controls.UpdateBodyTypes(vehicle, vc)" />
    <vDropdown v-model="vehicle.BodyType" :disableSelection="page == 1 && master.Misc.DisableVehicleUpdate"
      @DISABLE_SELECT_ACTION="validate.RestrictVehicleUpdate" :itemOptions="vc.BodyType"
      @CHANGE="controls.UpdateSymbols(vehicle, vc)" />
    <vDropdown v-model="vehicle.Symbol" :disableSelection="page == 1 && master.Misc.DisableVehicleUpdate"
      @DISABLE_SELECT_ACTION="validate.RestrictVehicleUpdate" :itemOptions="vc.Symbol"
      @CHANGE="validate.Vin(vehicle, vc.Vin)" />
    <vDropdown v-model="vehicle.PrimaryUse" :itemOptions="vc.PrimaryUse"
      :FalconDrop="st.Data.Dropdowns?.VehicleOptions?.VehicleUse" />
  </div>
  <div v-if="page == 2" class="part part4">
    <vDropdown v-model="vehicle.Coverages.ComColDeductible" :itemOptions="vc.ComColl"
      :FalconDrop="st.Data.Dropdowns?.VehicleOptions?.ComColDeductible"
      @CHANGE="validate.Data.OnComCollChange(vehicle.Coverages, vc)" />
    <vDropdown v-model="vehicle.Coverages.UMPD" :itemOptions="vc.UMPD"
      :FalconDrop="st.Data.Dropdowns?.VehicleOptions?.UMPDLimit"
      @CHANGE="validate.Data.OnUMPDChange(vehicle.Coverages, vc)" />
    <vDropdown v-model="vehicle.Coverages.UMPDDeductible" :itemOptions="vc.UMPDDeDuct"
      :FalconDrop="st.Data.Dropdowns?.VehicleOptions?.UMPDDeductible" />
    <vDropdown v-model="vehicle.Coverages.Rental" :itemOptions="vc.Rental"
      :FalconDrop="st.Data.Dropdowns?.VehicleOptions?.Rental" />
    <vDropdown v-model="vehicle.Coverages.Towing" :itemOptions="vc.Towing"
      :FalconDrop="st.Data.Dropdowns?.VehicleOptions?.Towing" />
    <vDropdown v-model="vehicle.Coverages.SafetyEquipment" :itemOptions="vc.SafetyEquip"
      :FalconDrop="st.Data.Dropdowns?.VehicleOptions?.SafetyEquipment" />
    <vTextbox v-model="vehicle.Vin" :item="vc.Vin" @CHANGE="validate.Vin(vehicle, vc.Vin)" />
  </div>
</template>

<style lang="scss">
@import "@/Styles/addedDriver.scss";

.partv {
  grid-column-gap: 4%;

  @media (min-width: 450px) {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  @media (min-width: 512px) {
    grid-column-gap: 8%;
  }
}
</style>
