<script setup lang="ts">
import { useAnim } from "@/Scripts/Home/Composables/anim";
import { useControls } from "@/Store/Home/Controls";
import { useMaster } from "@/Store/Home/Master";

const controls = useControls();
const master = useMaster();
const instance = master.Instance;
useAnim();
</script>

<template>
  <vTransitionTable :value="instance.InsVehicles.Vehicles" :control="controls.VehicleTable"
    :disabled="master.Misc.SignComplete" @REMOVE="(index: number) => master.RemoveVehicle(index)">
    <template v-slot:mainItem="slotProps">
      <vAddVehicle :vehicle="slotProps.item" :page="2" :index="slotProps.index" />
    </template>
  </vTransitionTable>
  <div class="btn-divider trim-bot animateQQ">
    <vButton :value="controls.AddVehicle" @CLICK="!(master.Misc.SignComplete) && master.AddVehicle()" />
  </div>
</template>
