<script setup lang="ts">
import { ref } from "vue";
import { useCommon } from "@/Store/common";
import { useControls } from "@/Store/Home/Controls";
import { useMaster } from "@/Store/Home/Master";
import { useValidate } from "@/Store/Home/Validate";
import { TTextbox } from "@/Scripts/Common/Types/UIStuff";
import { useAnim } from "@/Scripts/Home/Composables/anim";

const master = useMaster();
const controls = useControls();
const c = useCommon();
const validate = useValidate();
const acc = controls.GetAccount();
acc.Phone.disabled = true;
const passConfirm = ref<string | undefined>();

if (master.Misc.PolicyBoundWithEmail) {
  acc.Email.disabled = true;
}
useAnim();
</script>

<template>
  <div class="double-col-grid contact-div animateQQ">
    <vTextbox v-model="master.Instance.PolicyHolder.Email" :item="acc.Email" @CHANGE="validate.Email" />
    <vTextbox v-model="master.Instance.PolicyHolder.Phones[0].Number" :item="acc.Phone" />
  </div>
  <div class="other-fields animateQQ">
    <vCheckbox :value="{ checked: master.Account.Flag }" :disabled="master.Account.Created"
      @CLICK="(value: boolean) => { validate.Account(value, acc.Email, acc.Password, acc.ConfirmPassword); passConfirm = undefined }">
      <template v-slot:groupHead>
        <span>{{ c.T('L_Use_email_to_create_Falcon_acc') }}</span>
      </template>
    </vCheckbox>
    <transition name="top-bot-slide" appear>
      <div v-if="master.Account.Flag" class="double-col-grid password animateQQ">
        <vTextbox v-model="master.Account.Password" :item="acc.Password"
          @CHANGE="(v: string) => validate.Password(v, acc.Password, passConfirm, acc.ConfirmPassword, 'L_Error_Password_mismatch')" />
        <vTextbox v-model="passConfirm" :item="acc.ConfirmPassword"
          @CHANGE="(v: string, tb: TTextbox) => validate.Confirm(v, master.Account.Password, tb, 'L_Error_Password_mismatch')" />
      </div>
    </transition>
  </div>
  <vAppLinkIcons>{{ c.T("L_Download_app_today") }}</vAppLinkIcons>
</template>

<style lang="scss">
.contact-div {
  padding-bottom: 0;
  padding-bottom: 4%;
}

.other-fields {
  margin-bottom: 50px;

  .password {
    padding-bottom: 0;
    margin-top: 20px;
  }
}
</style>
