<template>
  <p class="app-icon-p animateQQ">
    <slot />
  </p>
  <div class="images animateQQ">
    <a href="https://apps.apple.com/us/app/falcon-insurance-company/id1085821738" target="_blank"><img id="img-app-store"
        src="@/Assets/img/mobile/badge-app-store.png" /></a>
    <a href="https://play.google.com/store/apps/details?id=com.falconinsgroup.Falcon" target="_blank"><img
        id="img-google-play" src="@/Assets/img/mobile/badge-google-play.png" /></a>
  </div>
</template>

<style lang="scss">
.app-icon-p {
  font-size: .90em;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.images {
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: wrap;

  img {
    cursor: pointer;
  }

  #img-app-store {
    height: 40px;
    padding-right: 10px;
  }

  #img-google-play {
    height: 60px;
    margin-left: -10px;
  }

  @media only screen and (min-width: 768px) {
    #img-app-store {
      height: 50px;
    }

    #img-google-play {
      height: 75px;
    }
  }

  @media only screen and (min-width: 1200px) {
    #img-app-store {
      height: 55px;
    }

    #img-google-play {
      height: 80px;
    }
  }

  @media only screen and (min-width: 1900px) {
    #img-app-store {
      height: 60px;
    }

    #img-google-play {
      height: 90px;
    }
  }
}
</style>
