<script setup lang="ts">
import { useCommon } from "@/Store/common";
import { useUI } from "@/Store/Home/UI";

const c = useCommon();
const ui = useUI();
</script>

<template>
  <div class="flex-container confirm-cont">
    <vTickAnim :value="{ svgCls: 'confirm' }" @RUN_TICK="ui.ConfirmTickAnimation" />
  </div>
  <slot name="message">
    <p class="main-message animcontext">{{ c.T(c.Data.Popup.Details.Message) }}</p>
    <p v-if="c.Data.Popup.Details.SubMessage" class="sub-message animcontext">{{ c.T(c.Data.Popup.Details.SubMessage) }}
    </p>
  </slot>
  <div class="detail-box animcontext" v-if="c.Data.Popup.Details.Content">
    <div style="display: flex; justify-content: center">
      <div class="gcol3">
        <template v-for="item in c.Data.Popup.Details.Content" :key="item">
          <span>{{ c.T(item.Label) }}</span>
          <span class="colon">:</span>
          <span>{{ item.Value }}</span>
        </template>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.confirm-cont {
  margin-top: 15px;
  --svgSizeVar: 25px;

  /*tick animation component*/

  svg {
    width: var(--svgSizeVar);

    .path {
      &.circle {
        stroke-width: 7;
        stroke-dashoffset: -1000;
        -webkit-animation: dash .6s 0.55s ease-in-out forwards;
        animation: dash .6s 0.55s ease-in-out forwards;
      }

      &.check {
        stroke-width: 12;
        stroke-dashoffset: -100;
        -webkit-animation: dash-check .6s 0.35s ease-in-out forwards;
        animation: dash-check .6s 0.35s ease-in-out forwards;
      }
    }
  }

  @media (min-width: 400px) {
    --svgSizeVar: 35px;
  }

  @media (min-width: 768px) {
    --svgSizeVar: 45px;
    --pad: 10px 0 10px 0;
  }

  @media (min-width: 1200px) {
    --svgSizeVar: 55px;
    --pad: 13px 0 13px 0;
  }

  @media (min-width: 1900px) {
    --svgSizeVar: 75px;
    --pad: 18px 0 18px 0;
  }
}

.main-message {
  text-align: center;
  font-weight: 600;
  margin: 0;
  padding: 15px 15px 30px 15px;
}
</style> 
