<script setup lang="ts">
import gsapAnim from "@/Scripts/Common/gsapAnim";
import { useAnim } from "@/Scripts/Home/Composables/anim";
import { useCommon } from "@/Store/common";
import { useControls } from "@/Store/Home/Controls";
import { useMaster } from "@/Store/Home/Master";
import { onActivated } from "vue";

const master = useMaster();
const controls = useControls();
const c = useCommon();
onActivated(() => {
  gsapAnim.fromRight({
    className: "animateDocs",
    duration: 0.3,
    cord: "50%",
    scale: 0.9,
    staggerFrom: "start",
    ease: "none",
  });
})
useAnim();
</script>

<template>
  <p class="form-label animateQQ">
    {{ c.T("L_Documents_will_be_sent_email_Feel_free_to_print") }}
  </p>
  <ul class="documents">
    <li class="animateDocs" v-for="item in master.Instance.Policy.Documents.Regular" :key="item.FormId"
      @click="master.OpenDocument(item)">
      <i class="icon-pdf" />
      <span>{{ item.Description }}</span>
    </li>
  </ul>
  <vButton :value="controls.Print" @CLICK="master.OpenDocuments()" />
  <vAppLinkIcons>{{ c.T("L_These_docs_are_available_on_mobile_app") }}</vAppLinkIcons>
</template>

<style lang="scss">
.documents {
  padding-bottom: 20px !important;
  border-bottom: var(--nav-lines);
  margin-bottom: 20px !important;

  .icon-pdf {
    color: var(--color-main-theme);
  }

  .icon-pdf+span {
    margin-left: 10px;
  }

  li {
    padding: 10px;
    cursor: pointer;
  }

  li:hover {
    background-color: var(--color-nav-bar);
  }
}

.mar {
  margin-bottom: 25px;
}
</style> 
