<script setup lang="ts">
import gsapAnim from "@/Scripts/Common/gsapAnim";
import { TGsap } from "@/Scripts/Common/Types/UIStuff";
import { useCommon } from "@/Store/Common";
import { useMaster } from "@/Store/Home/Master";
import { useUI } from "@/Store/Home/UI";
import { onMounted, ref } from "vue";

const ui = useUI();
const master = useMaster();
const c = useCommon();
const nav = ui.Nav;

const outerNav = ref({} as HTMLDivElement);
onMounted(() => {
    ui.AssignOuterNav(outerNav.value);
    gsapAnim.fromRight({
        className: "navItem",
        duration: 0.4,
        cord: 100,
        scale: 0,
        staggerFrom: "random",
        ease: "power1",
    } as TGsap);
});

</script>

<template>
    <div class="navContainer">
        <div class="drawer" @click="ui.ToggleAgent()">
            <div class="line upper"></div>
            <div class="line"></div>
        </div>
        <div class="outer-nav" v-bind:class="ui.Data.OuterNavClass" ref="outerNav">
            <nav id="mainNav" ref="mainNav">
                <div class="navItem" v-for="(item, index) in nav.Items" :key="item.label"
                    v-bind:class="[{ active: item.type === ui.Section.Nav, disable: !item.enable }]"
                    @click="item.enable && ui.OnNavClicked(item.type)">
                    <a class="navLink">
                        <i :class="item.icon" />
                        <span class="nav-text">{{ c.T(item.label) }}</span>
                        <vTickAnim v-if="item.complete" :value="{ svgCls: `nav_${index}` }"
                            @RUN_TICK="ui.NavTickAnimation" />
                    </a>
                    <transition-group v-if="ui.Data.ContainerPadding === '0' && item.list" name="right-left-slide" tag="ul"
                        appear>
                        <li class="nav-list-item" v-for="(listItem, listItemIndex) in ui.GetNavListItems(item.type, master.Instance)"
                            :key="listItemIndex">
                            {{ `${listItemIndex + 1}. ${listItem}` }}
                        </li>
                    </transition-group>
                </div>
                <div class="local-agent"
                    v-if="master.Instance.Agency && master.Instance.Agency.Addresses && master.Instance.Agency.Addresses.length > 0 && ((ui.Data.Window.innerWidth < 992 && ui.Nav.Agent) || ui.Data.Window.innerWidth >= 992)">
                    <h4 class="head">{{ c.T("L_Your_local_agent") }}</h4>
                    <p class="agent">{{ master.Instance.Agency.Name }}</p>
                    <a class="phone" :href="`tel:${master.Instance.Agency.Phone}`"><i class="icon-phone1" />{{
                        master.Instance.Agency.Phone }}</a>
                    <div class="addr">
                        <a v-for="(addrItem, addrIndex) in master.Instance.Agency.Addresses" :key="addrIndex"
                            :href="ui.GetLocationForMaps(addrItem)">
                            <i class="icon-location" />
                            <span>
                                {{ addrItem.Street }}
                                <br />
                                {{ addrItem.City }}
                                <br />
                                {{ addrItem.State }} {{ addrItem.Zip }}
                            </span>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</template>

<style lang="scss">
@import "@/Styles/navigation.scss";
</style>
