<script setup lang="ts">
import { useAnim } from '@/Scripts/Home/Composables/anim';
import { useCommon } from '@/Store/Common';
import { useMaster } from '@/Store/Home/Master';
import { useStateSpec } from '@/Store/Home/StateSpec';

const c = useCommon();
const master = useMaster();
const sp = useStateSpec();
useAnim();
</script>

<template>
  <div class="payment-type">
    <vCheckbox class="animateQQ" v-for="(item) in master.Instance.Policy.PaymentInfo.Payplans.Collection" :key="item.Id"
      :value="{ type: 'radio', wrapped: true, checked: item.Id == master.Instance.Policy.PaymentInfo.Payplans.Current.Id }"
      :disabled="master.Misc.SignComplete" @CLICK="master.Instance.Policy.PaymentInfo.Payplans.Current = item">
      <template v-slot:groupHead>
        <span>{{ sp.GetPayPlanTypeLabel(item.Type) }}{{ item.Tag == 'Recurring' ? ` ${c.T('L_Auto_pay_installments')}` :
          ''
        }}</span>
      </template>
      <template v-slot:groupBody="slotProps">
        <div class="pay-details">
          <p class="head">${{ item.Amount.Down.toFixed(2) }} {{ c.T('L_Due_today') }}</p>
          <p class="form-label">{{ item.Tag != 'PayInFull' && item.Amount.Installment > 0 ?
            `$${item.Amount.Installment.toFixed(2)} ${c.T('L_Monthly')}` :
            c.T('L_Save_percent', ['5']) }}</p>
          <p class="form-label" v-if="item.Tag != 'PayInFull' && slotProps.checked">{{
            c.T('L_You_be_provided_payment_schedule') }}</p>
        </div>
      </template>
    </vCheckbox>
  </div>
</template>

<style lang="scss">
.payment-type {

  p {
    margin: 0;
  }

  .head {
    font-size: .9em;
    font-weight: 600;
    margin-top: 10px;
  }

  .form-label {
    padding: 0;
    padding-top: 8px;
  }

  p:last-child {
    margin-bottom: 20px;
  }
}
</style>
