<script setup lang="ts">
import { useCommon } from "@/Store/Common";
import { useControls } from "@/Store/Home/Controls";
import { useUI } from "@/Store/Home/UI";

const controls = useControls();
const ui = useUI();
const common = useCommon();

</script>

<template>
    <div class="modal-root" v-bind:class="common.Data.Popup.RootCls">
        <!-- <div v-bind:class="[common.Data.Popup.HeadCls ? common.Data.Popup.HeadCls : 'modal-head']"> -->
        <div class="modal-head" v-bind:class="common.Data.Popup.HeadCls">
            <div v-if="common.Data.Popup.Icon" class="g g1">
                <i :class="common.Data.Popup.Icon"></i>
            </div>
            <span class="g" v-if="common.Data.Popup.Heading">{{ common.T(common.Data.Popup.Heading) }}</span>
            <i class="icon-cancel"
                @click="common.Data.Popup.ClosePopup && common.Data.Popup.ClosePopup(); ui.ClosePopup()"></i>
        </div>
        <div class="modal-body">
            <component v-if="common.Data.Popup.SubComponent" :is="common.Data.Popup.SubComponent"></component>
            <p class="err" v-if="common.Data.Popup.Message">{{ common.T(common.Data.Popup.Message) }}</p>
        </div>
        <div v-if="!common.Data.Popup.HideButtons" class="modal-foot">
            <div class="nav-btns-container">
                <vButton :value="controls.CancelS" @CLICK="ui.ClosePopup()"></vButton>
                <vButton :value="controls.ContinueS" @CLICK="common.Data.Popup.ContinueAction"></vButton>
            </div>
        </div>
    </div>
</template>

<style lang="scss">
.modal-root {
    background-color: var(--color-page-background);
    box-shadow: 0 0 1.5em #00000059;
    border-radius: 5px;
    padding: 0.8rem;
}

.modal-head {
    position: relative;
    height: 34px;
    display: flex;
    color: var(--color-page-background);
    justify-content: center;
    border-radius: 5px;
    background-color: var(--color-title-bar);

    @media (min-width: 512px) {
        height: 40px;
    }

    @media (min-width: 1200px) {
        height: 49px;

    }

    @media (min-width: 1900px) {
        height: 54px;
    }

    g {
        align-self: center;
        color: var(--color-page-background);
        padding: 10px;
        margin: auto;
    }

    .g1 {

        font-size: 60px;

        @media (min-width: 512px) {
            font-size: 80px;
        }

        @media (min-width: 1200px) {
            font-size: 120px;
        }

        @media (min-width: 1900px) {
            font-size: 150px;
        }
    }

    .icon-cancel {
        position: absolute;
        cursor: pointer;
        top: 0;
        right: 0;
        padding: 10px;
        background-color: #ffffff4d;
        border-bottom-left-radius: 5px;


        font-size: 15px;

        @media (min-width: 512px) {
            font-size: 20px;
        }

        @media (min-width: 1200px) {
            padding: 12px;
            font-size: 25px;
        }

        @media (min-width: 1900px) {
            font-size: 30px;
        }
    }

    .flex-container {
        display: flex;
        justify-content: center;
    }
}

.icon-modal-head {
    height: 80px;

    @media (min-width: 512px) {
        height: 100px;
    }

    @media (min-width: 1200px) {
        height: 170px;
    }

    @media (min-width: 1900px) {
        height: 200px;
    }
}

.modal-body {
    padding: 10px;
}

.modal-foot {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-top: 1px solid var(--color-nav-lines);

    .nav-btns-container {
        width: 100%;
    }
}
</style>
