<script setup lang="ts">
import { useAnim } from "@/Scripts/Home/Composables/anim";
import { useCommon } from "@/Store/Common";
import { useMaster } from "@/Store/Home/Master";

const common = useCommon();
const master = useMaster();
const current = useMaster().Instance.Policy?.PaymentInfo?.Payplans?.Current;
useAnim();
</script>

<template>
	<div class="rate-box animateQQ">
		<div class="monthly-cont animateQQ" v-if="current">
			<span class="quote">${{ master.PaymentInfo.Amount }}</span>
			<span class="cents">.{{ master.PaymentInfo.Cents }}
				{{ common.T(current.Tag != 'PayInFull' ? "L_Monthly" : "L_Fullpay") }}</span>
		</div>
		<span v-if="current?.Tag != 'PayInFull'" class="downpayment">${{ master.PaymentInfo.Down }} {{
			common.T("L_Downpayment_Today")
		}}</span>
	</div>
</template>

<style lang="scss">
.rate-box {
	padding: 40px 10px;
	text-align: center;
	align-content: center;
	border: 1px solid #0076A8;
	background-color: var(--color-box-background);
	color: var(--color-box-text);
	font-weight: 700;
	font-size: 40px;
	line-height: 1em;

	span {
		word-break: break-word;
	}

	.monthly-cont {
		justify-content: center;
		padding-bottom: 15px;

		.quote {
			font-size: 200%;
			font-weight: 500;
			line-height: 1em;
		}

		span {
			word-break: break-word;
		}
	}

	.downpayment {
		border-top: 1px solid #FFF;
		padding-top: 10px;
		font-size: 40%;
	}

	@media only screen and (min-width: 992px) {
		font-size: 50px;

		.downpayment {
			font-size: 70%;
		}
	}
}
</style>
