<script setup lang="ts">
import { useCommon } from "@/Store/Common";
import { useControls } from "@/Store/Home/Controls";
import { useUI } from "@/Store/Home/UI";
import { ref } from "vue";

const ui = useUI();
const common = useCommon();
const section = ref({} as HTMLDivElement);
const c = useControls();
</script>

<template>
    <h2 class="animateWrapper animateWrapperHeader">
        {{ common.T(ui.GetPageHeading()) }}
    </h2>
    <div :class="ui.GetDisableCls()" ref="section">
        <slot />
    </div>
    <!-- <div style="display: flex;"> -->
    <!-- <pre style="text-align: start;">{{ JSON.stringify(c.VehicleTable.hide, null, 2) }}</pre> -->
    <!-- </div> -->
    <div class="nav-btns-container animateWrapper" v-bind:class="ui.Section.BtnWrapClass">
        <vButton :value="ui.Section.Back.Btn" @CLICK="ui.Section.Back.Action()" />
        <vButton :value="ui.Section.Continue.Btn" @CLICK="ui.Section.Continue.Action()" />
    </div>
</template>

<style lang="scss">
.double-col-grid,
.triple-col-grid {
    display: grid;
    gap: 4%;
    padding-bottom: 50px;

    @media (min-width: 512px) {
        gap: 8%;
        grid-template-columns: repeat(2, 1fr);

        h4,
        .full-table {
            grid-column: 1 / span 2;
        }
    }
}

/*************************************************************/
.split-container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column dense;
    grid-column-gap: 4%;

    @media (min-width: 512px) {
        grid-column-gap: 8%;
    }

    padding-bottom: 50px;
}

.rep-6 {
    grid-template-rows: repeat(6, auto);
}

.rep-5 {
    grid-template-rows: repeat(5, auto);
}

.rep-4 {
    grid-template-rows: repeat(4, auto);
}

.rep-3 {
    grid-template-rows: repeat(3, auto);
}

.rep-2 {
    grid-template-rows: repeat(2, auto);
}

.trim-bot {
    border-bottom: 0 !important;
}

/*************************************************************/

/*************************************************************/
.double-col-grid1 {
    display: grid;
    padding-bottom: 50px;

    @media (min-width: 512px) {
        column-gap: 8%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto-fill, auto);

        h4,
        .full-table {
            grid-column: 1 / span 2;
        }
    }
}

/*************************************************************/

.btn-divider {
    border-top: var(--nav-lines);
    border-bottom: var(--nav-lines);
    padding: 20px 0;
    grid-column: 1 / span 2;
    margin-bottom: 30px;
}

.disable-content {
    opacity: 0.95;
    pointer-events: none;
}


.single-right {
    justify-content: flex-end;
}
</style>
