<script setup lang="ts">
import { IDriver } from '@/Scripts/Home/Interfaces/Insurance';
import { useControls } from '@/Store/Home/Controls';
import { useStateSpec } from '@/Store/Home/StateSpec';
import { useValidate } from '@/Store/Home/Validate';
import { PropType} from 'vue';

const controls = useControls();
const validate = useValidate();
const st = useStateSpec();

const props = defineProps({
  modelValue: {
    type: Object as PropType<IDriver>,
    required: true,
  },
  page: {
    type: Number,
    required: true,
  },
  index: {
    type: Number,
    required: true
  },
});
const driver = controls.Drivers[props.index];
driver.LicState.item.disabled = true;
</script>

<template>
  <div class="part part1">
    <vTextbox v-model="modelValue.Name.First" :item="driver.FirstName" />
    <vTextbox v-model="modelValue.Name.Middle" :item="driver.MiddleName" />
    <vTextbox v-model="modelValue.Name.Last" :item="driver.LastName" />
  </div>
  <div class="part part2">
    <vTextbox v-model="modelValue.Name.DateOfBirth" :item="driver.DOB" @CHANGE="validate.DobStr" />
    <vDropdown v-model="modelValue.Name.Gender" :itemOptions="driver.Gender"
      :FalconDrop="st.Data.Dropdowns?.DriverOptions?.Gender" />
    <vDropdown v-model="modelValue.Name.MaritalStatus" :itemOptions="driver.MaritalStatus"
      :FalconDrop="st.Data.Dropdowns?.DriverOptions?.MaritalStatus" />
    <vDropdown v-model="modelValue.Relationship" :itemOptions="driver.Relationship"
      :FalconDrop="st.Data.Dropdowns?.DriverOptions?.Relationship" />
  </div>
  <div v-if="page == 2" class="part part3">
    <vDropdown v-model="modelValue.Type" :itemOptions="driver.DriverType"
      :FalconDrop="st.Data.Dropdowns?.DriverOptions?.DriverType" />
    <vDropdown v-model="modelValue.License.Type" :itemOptions="driver.LicType"
      :FalconDrop="st.Data.Dropdowns?.DriverOptions?.LicenseType"
      @CHANGE="validate.OnLicTypeChange(modelValue, driver)" />
    <vDropdown v-model="modelValue.License.State" :itemOptions="driver.LicState"
      :FalconDrop="st.Data.Dropdowns?.DriverOptions?.LicenseState" />
    <vTextbox v-model="modelValue.License.Number" :item="driver.LicNum" />
    <vDropdown v-model="modelValue.License.Months36" :itemOptions="driver.LicMon36"
      :FalconDrop="st.Data.Dropdowns?.DriverOptions?.License36Months" />
    <vDropdown v-model="modelValue.CourseDiscount.MatureDriver.Value" :itemOptions="driver.MatureDr"
      :FalconDrop="st.Data.Dropdowns?.DriverOptions?.MatureDriver" />
    <vDropdown v-model="modelValue.CourseDiscount.DefensiveDriver.Value" :itemOptions="driver.DefensiveDr"
      :FalconDrop="st.Data.Dropdowns?.DriverOptions?.DefensiveDriver" />
    <vDropdown v-model="modelValue.CourseDiscount.AccidentPrevention.Value" :itemOptions="driver.AccPrev"
      :FalconDrop="st.Data.Dropdowns?.DriverOptions?.AccidentPrevention" />
    <vTextbox v-model="modelValue.CourseDiscount.AccidentPrevention.Date" v-if="driver.AccPrev.allow"
      :item="driver.AccPrevDate" />
    <vTextbox v-model="modelValue.Employment.Occupation" :item="driver.DriverOccupation" />
    <vTextbox v-model="modelValue.Employment.Employer" :item="driver.DriverEmployer" />
  </div>
  <vViolationsTbl v-bind:modelValue="modelValue" v-if="page == 2" />
</template>

<style lang="scss" scoped>
@import "@/Styles/addedDriver.scss";
</style>
