<script setup lang="ts">
import { useAnim } from '@/Scripts/Home/Composables/anim';
import { useControls } from '@/Store/Home/Controls';
import { useMaster } from '@/Store/Home/Master';
import { useStateSpec } from '@/Store/Home/StateSpec';
import { useValidate } from '@/Store/Home/Validate';

const controls = useControls();
const instance = useMaster().Instance;
const st = useStateSpec();
const driver = controls.GetMainDriver();
driver.LicState.item.disabled = true;
driver.PriorCovNumber.disabled = true;
driver.PriorCovCompany.disabled = true;
driver.AccPrevDate.disabled = true;
const validate = useValidate();
useAnim();
</script>

<template>
  <div class="double-col-grid1 animateQQ">
    <vDropdown v-model="instance.Drivers[0].License.Type" :itemOptions="driver.LicType"
      :FalconDrop="st.Data.Dropdowns?.DriverOptions?.LicenseType"
      @CHANGE="validate.OnLicTypeChange(instance.Drivers[0], driver)" />
    <vDropdown v-model="instance.Drivers[0].License.State" :itemOptions="driver.LicState"
      :FalconDrop="st.Data.Dropdowns?.DriverOptions?.LicenseState" />
    <vDropdown v-model="instance.Drivers[0].License.Months36" :itemOptions="driver.LicMon36"
      :FalconDrop="st.Data.Dropdowns?.DriverOptions?.License36Months" />
    <vTextbox v-model="instance.Drivers[0].License.Number" :item="driver.LicNum" />
    <vDropdown v-model="instance.Drivers[0].CourseDiscount.AccidentPrevention.Value" :itemOptions="driver.AccPrev"
      :FalconDrop="st.Data.Dropdowns?.DriverOptions?.AccidentPrevention"
      @CHANGE="validate.EnableCourseDiscountDate(0, driver.AccPrevDate)" />
    <vTextbox v-if="driver.AccPrev.allow" v-model="instance.Drivers[0].CourseDiscount.AccidentPrevention.Date"
      :item="driver.AccPrevDate" @CHANGE="validate.DateStr" />
    <vDropdown v-model="instance.Drivers[0].CourseDiscount.MatureDriver.Value" :itemOptions="driver.MatureDr"
      :FalconDrop="st.Data.Dropdowns?.DriverOptions?.MatureDriver" />
    <vDropdown v-model="instance.Drivers[0].CourseDiscount.DefensiveDriver.Value" :itemOptions="driver.DefensiveDr"
      :FalconDrop="st.Data.Dropdowns?.DriverOptions?.DefensiveDriver" />
  </div>
  <div class="double-col-grid1 animateQQ">
    <vDropdown v-model="instance.Drivers[0].Name.MaritalStatus" :itemOptions="driver.MaritalStatus"
      :FalconDrop="st.Data.Dropdowns?.DriverOptions?.MaritalStatus" />
    <vTextbox v-model="instance.Drivers[0].Employment.Occupation" :item="driver.DriverOccupation" />
    <vTextbox v-model="instance.Drivers[0].Employment.Employer" :item="driver.DriverEmployer" />
  </div>
  <div class="double-col-grid1 animateQQ">
    <vTextbox v-model="instance.PolicyHolder.Phones[0].Number" :item="driver.Phone"
      @CHANGE="validate.PolicyHolderPhone" />
    <vDropdown v-model="instance.PolicyHolder.Phones[0].Type" :itemOptions="driver.PhoneType"
      @CHANGE="validate.CheckHomePhone()" :FalconDrop="st.Data.Dropdowns?.PolicyOptions.PrimaryPhone" />
    <vTextbox v-model="instance.PolicyHolder.Email" :item="driver.Email" @CHANGE="validate.Email" />
  </div>
  <div class="double-col-grid1 animateQQ">
    <vDropdown v-model="instance.Policy.Modifiers.TransferDiscount.Flag" :itemOptions="driver.PriorCoverage"
      :FalconDrop="st.Data.Dropdowns?.PolicyOptions.PriorCoverage" @CHANGE="validate.OnPriorCovChange(driver)" />
    <vTextbox v-model="instance.Policy.Modifiers.TransferDiscount.CompanyName" :item="driver.PriorCovCompany" />
    <vTextbox v-model="instance.Policy.Modifiers.TransferDiscount.PolicyNumber" :item="driver.PriorCovNumber" />
  </div>
  <vViolationsTbl v-model="instance.Drivers[0]" />
</template>

<style lang="scss">
.double-col-grid {
  button {
    margin: auto auto auto 0;
  }

  .circle {
    margin-bottom: 15px;
  }
}

@media (max-width: 500px) {

  .trans-row {
    border-top: 3px solid var(--color-nav-lines);
  }
}
</style>
