<script setup lang="ts">
import { useAnim } from '@/Scripts/Home/Composables/anim';
import { useCommon } from '@/Store/Common';
import { useControls } from '@/Store/Home/Controls';
import { useMaster } from '@/Store/Home/Master';

const controls = useControls();
const c = useCommon();
const master = useMaster();
const driver = controls.GetMainDriver();
driver.LicState.item.disabled = true;
driver.PriorCovNumber.disabled = true;
driver.PriorCovCompany.disabled = true;
useAnim();
</script>

<template>
  <p v-if="master.Instance.UDRDrivers.length > 0" class="form-label top-label animateQQ">{{
    c.T('L_Based_on_addr_found_drivers') }}:</p>
  <table v-if="master.Instance.UDRDrivers.length > 0" class="full-table animateQQ">
    <thead>
      <tr>
        <th>{{ c.T("L_Name") }}</th>
        <th></th>
      </tr>
    </thead>
    <transition-group name="right-left-slide" tag="tbody" appear>
      <tr v-for="(item, index) in master.Instance.UDRDrivers" :key="item.Id">
        <td>
          <span>{{ index + 1 }}. </span>
          <span>{{ item.Name.First }} {{ item.Name.Last }}</span>
        </td>
        <td>
          <a @click="!(master.Misc.SignComplete) && master.AddUDRDriver(item)">{{ c.T("L_add_to_Q") }}</a>
        </td>
      </tr>
    </transition-group>
  </table>
  <vTransitionTable :value="master.Instance.Drivers.slice(1)" :control="controls.DriverTable"
    :disabled="master.Misc.SignComplete" @REMOVE="(index: number) => master.RemoveDriver(index + 1)">
    <template v-slot:mainItem="slotProps">
      <vAddDriver v-model="slotProps.item" :page=2 :index="slotProps.index" />
    </template>
  </vTransitionTable>
  <div class="btn-divider animateQQ">
    <vButton :value="controls.AddDriver" @CLICK="!(master.Misc.SignComplete) && master.AddDriver()" />
  </div>
</template>

<style lang="scss" scoped>
.btn-divider {
  border-bottom: 0;
}

a {
  box-shadow: inset 0 -1px 0 0 var(--color-main-theme);
}

@import '@/Styles/transitions.scss';
</style>
