<script setup lang="ts">
import { TButton } from '@/Scripts/Common/Types/UIStuff';
import { useCommon } from '@/Store/Common';
import { useMaster } from '@/Store/Home/Master';
import { PropType } from 'vue';

const master = useMaster();
const common = useCommon();
// const emits = defineEmits(['CLICK']);
const props = defineProps({
    value: {
        type: Object as PropType<TButton>,
        required: true,
    }
});


</script>

<template>
    <button v-if="!value.hidden" :id="value.id" class="btn" v-bind:class="value.class" :disabled="value.disabled"
        @click="$emit('CLICK')">
        <slot name="buttonContent">
            <span v-if="value.value">{{ value.spanBefore }}{{ common.T(value.value)
            }}{{ value.spanAfter }}</span>
            <i v-if="value.icon" style="font-weight: bolder" :class="value.icon" />
        </slot>
    </button>
</template>

<style lang="scss">
.btn {
	background: var(--color-button-background);
	font-family: inherit;
	color: var(--color-button-text);
	border: none;
	border-radius: 5px;
	font-weight: 600;
	text-transform: lowercase;
	font-size: 14px;
	padding: 10px 26px;
	cursor: pointer;

	@media only screen and (min-width: 768px) {
		padding: 10px 30px;
	}

	@media only screen and (min-width: 992px) {
		font-size: 16px;
	}

	@media only screen and (min-width: 1200px) {
		font-size: 18px;
		padding: 10px 34px;
	}

	@media only screen and (min-width: 1900px) {
		font-size: 21px;
		padding: 10px 40px;
	}
}

.btn:hover {
	background: var(--color-button-hover);
}

.btn:disabled {
	background: var(--color-button-dis);
	cursor: not-allowed;
}

.secondary {
	font-size: 13px;
	padding: 8px 20px;

	@media only screen and (min-width: 768px) {
		padding: 8px 26px;
	}

	@media only screen and (min-width: 992px) {
		font-size: 14px;
	}

	@media only screen and (min-width: 1200px) {
		font-size: 16px;
		padding: 8px 30px;
	}

	@media only screen and (min-width: 1900px) {
		font-size: 18px;
		padding: 10px 36px;
	}
}

.circle {
	padding: 5px 10px;
	border-radius: 15px;

	@media only screen and (min-width: 1900px) {
		padding: 7px 14px;
		border-radius: 21px;
	}
}

</style>
