<script setup lang="ts">
import { TCheckbox } from '@/Scripts/Common/Types/UIStuff';
import { PropType } from 'vue';

const emits = defineEmits(['CLICK']);

const props = defineProps({
  value: {
    type: Object as PropType<TCheckbox>,
    required: true,
  },
  disabled: {
    type: Boolean
  }
});

const onClick = () => {
  props.value.checked = props.value.type ? true : !props.value.checked;
  emits('CLICK', props.value.checked);
}
</script>

<template>
  <div class="custom-checkbox" v-bind:class="value.cls" @click="!(disabled) && onClick()">
    <div class="group-head"
      v-bind:class="[{ 'selected-head': value.checked }, { 'wrapped': value.wrapped }, { 'disabled': disabled }]">
      <i class="icon" v-bind:class="[value.checked ? 'icon-checkbox-checked' : 'icon-checkbox-uncheck']"></i>
      <slot name="groupHead"></slot>
    </div>
    <div class="group-body">
      <slot name="groupBody" :checked="value.checked"></slot>
    </div>
  </div>
</template>

<style lang="scss">
.custom-checkbox {

  display: grid;

  .group-body {
    grid-area: group-body;
    padding: 10px;
  }

  .group-head {
    grid-area: group-head;
    display: grid;
    grid-template-columns: repeat(1, auto 1fr);
    align-items: center;
    cursor: pointer;
    color: initial;

    .icon {
      margin-right: 10px;
    }
  }

  .disabled {
    cursor: not-allowed;
  }

  .wrapped {
    grid-template-columns: repeat(1, auto 1fr);
    padding: 10px;
    cursor: pointer;
    transition: all .1s linear;
    color: var(--color-table-th-text);
    background-color: var(--color-box-background);
    border-top: var(--nav-lines);
    border-bottom: var(--nav-lines);
    color: initial;
    font-weight: 700 !important;

    .icon {
      margin-right: 10px;
    }

    &.selected-head {
      border-bottom: var(--nav-lines);
    }

    @media only screen and (min-width: 768px) {
      padding: 10px 20px;
    }

    @media only screen and (min-width: 1200px) {
      padding: 10px 30px;
    }

    @media only screen and (min-width: 1900px) {
      padding: 15px 40px;
    }
  }

  .wrapped:hover {
    transform: scale(1.02);
    color: initial;
  }

  .selected-head {
    border-bottom: 0px;
    position: relative;
  }

  .selected-head & .wrapped:before,
  .selected-head & .wrapped:after {
    position: absolute;
    left: 10px;
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: var(--color-nav-lines) transparent transparent transparent;

    @media only screen and (min-width: 768px) {
      left: 15px;
    }

    @media only screen and (min-width: 1200px) {
      left: 20px;
    }

    @media only screen and (min-width: 1900px) {
      left: 30px;
    }
  }

  .selected-head & .wrapped:after {
    bottom: -8px;
    border-color: var(--color-box-background) transparent transparent transparent;
  }

  .selected-head & .wrapped::before {
    bottom: -9.8px;
  }


  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: "group-head"
  "group-body";


  i {
    color: var(--color-main-theme);
  }

}
</style>