<script setup lang="ts">
import { TDropdown } from '@/Scripts/Common/Types/UIStuff';
import { IStateDropdown, IStateDropdownItem } from '@/Scripts/Home/Interfaces/StateSpecifics';
import { useControls } from '@/Store/Home/Controls';
import { OptionHTMLAttributes, PropType, onMounted, onUnmounted, ref, watch } from 'vue';
import { useUI } from '@/Store/Home/UI';
import { useCommon } from '@/Store/common';

const c = useControls();
const common = useCommon();
const emits = defineEmits(['update:modelValue', 'CHANGE', 'DISABLE_SELECT_ACTION']);
const ui = useUI();

const props = defineProps({
  modelValue: {
    // type: [String, Number, Object] as PropType<string | number | IDBEntity>,
    required: true,
  },
  noHeader: {
    type: Boolean,
    default: false,
  },
  cls: {
    type: String
  },
  disableSelection: {
    //dependecy => 'DISABLE_SELECT_ACTION' action in emits
    type: Boolean,
    default: false
  },
  itemOptions: {
    type: Object as PropType<TDropdown>,
    required: true,
    default: () => ({ item: {} })
  },
  FalconDrop: {
    type: Object as PropType<IStateDropdown>
  }
});

const UpdateDrops = () => {
  if (props.FalconDrop) {
    props.itemOptions.options = props.FalconDrop.Items.map((item: IStateDropdownItem) => ({
      label: item.Label,
      value: item.Value
    } as OptionHTMLAttributes));
    if (props.FalconDrop.Label) {
      props.itemOptions.item.header = props.FalconDrop.Label;
    }
    props.itemOptions.default = props.FalconDrop.DefaultValue;
    if (!props.itemOptions.item.disabled)
      props.itemOptions.item.disabled = props.FalconDrop.Items.length == 1;
    if (!props.itemOptions.item.header) {
      props.itemOptions.allow = false;
    }
    else {
      props.itemOptions.allow = true;
    }
  }
}

const currentValue = ref<any>(props.modelValue);
const updateCurrentVal = () => {
  if (props.itemOptions.type === "IDBEntity") {
    currentValue.value = JSON.stringify(props.modelValue);
  }
}

updateCurrentVal();
UpdateDrops();

if (props.itemOptions.default != undefined && props.modelValue == undefined) {
  emits('update:modelValue', (props.itemOptions.default));
}

onMounted(() => {
  ui.AddValidateItems(props.itemOptions.item, currentValue, props.itemOptions.type);
});

onUnmounted(() => {
  ui.RemoveValidateItems(props.itemOptions.item);
})

watch(
  () => props.FalconDrop, (newValue) => {
    UpdateDrops();
  },
);

//watching for default value change 
//(for first time when dropdowns load and a default value exists.)
watch(
  () => props.itemOptions.default, (newValue) => {
    if (props.modelValue === undefined) {
      emits('update:modelValue', (newValue));
    }
  },
);

watch(
  () => props.modelValue, (newValue) => {
    currentValue.value = newValue;
    updateCurrentVal();
  },
);

const reset = () => {
  if (props.disableSelection) {
    currentValue.value = props.modelValue;
    updateCurrentVal();
  }
}

</script>

<template>
  <vFormGroup v-model="itemOptions.item" :noHeader="noHeader" :cls="cls" v-if="itemOptions.allow">
    <select class="form-control dropdown" :disabled="itemOptions.item.disabled" v-model="currentValue"
      @change="c.SelectHandler($event, props, emits); reset()">
      <!--<option disabled value="-1">-</option>-->
      <option v-for="option in itemOptions.options" :key="option.value" :value="option.value">{{ common.T(option.label) }}
      </option>
    </select>
    <slot />
  </vFormGroup>
</template>

<style lang="scss">
@import "@/Styles/Form/validations.scss";

.form-group {
  .dropdown {
    -webkit-appearance: none;
    background-image: url("@/Assets/img/select.svg");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 40px;
  }

  .dropdown:hover {
    cursor: pointer;
  }

  .dropdown:disabled {
    cursor: not-allowed !important;
  }
}
</style>
