<script setup lang="ts">
import { TFormGroup } from '@/Scripts/Common/Types/UIStuff';
import { useCommon } from '@/Store/Common';
import { useUI } from '@/Store/Home/UI';
import { PropType } from 'vue';

const common = useCommon();
const ui = useUI();
const props = defineProps({
    modelValue: {
        type: Object as PropType<TFormGroup>,
        required: true,
    },
    noHeader: {
        type: Boolean,
        default: false,
    },
    noEdit: {
        type: Boolean,
        default: false,
    },
    cls: {
        type: String
    }
});
if (props.modelValue.toolTip) {
    ui.AddTooltip(props.modelValue.id);
}
</script>

<template>
    <div v-if="modelValue" class="form-group" v-bind:class="[modelValue.class, cls]" :id="modelValue.id">
        <div v-if="(!noHeader && modelValue.header) || modelValue.headers" class="form-label">
            {{ modelValue.header && common.T(modelValue.header) }}{{ modelValue.headers && common.TMulti(modelValue.headers)
            }}
            <!-- <vToolTip v-if="modelValue.title" :value="modelValue" /> -->
            <div v-if="modelValue.toolTip" class="info-tool">
                <i class="icon-info" @click.stop="ui.ToggleTooltip(modelValue.id)" />
                <div v-if="modelValue.id && ui.Tooltips[modelValue.id]" class="tooltip">{{ common.T(modelValue.toolTip) }}
                </div>
            </div>
        </div>
        <slot></slot>
        <i v-if="!noEdit && modelValue.class === 'group-horizontal'" class="icon-pencil"
            v-bind:class="{ 'allow-edit': !modelValue.disabled }"></i>
        <span class="form-help field-error" v-if="modelValue?.error">{{
            common.T(modelValue.error, modelValue.errParams)
        }}</span>
    </div>
</template>

<style lang="scss">
.form-group {
    margin-bottom: 15px;

    input {
        overflow: visible;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    @import '@/Styles/Form/formLabel.scss';

    .form-control {
        margin-top: 2px;
        position: relative;
        display: block;
        width: 100%;
        padding: .5rem .75rem;
        line-height: 1.25;
        color: var(--color-text);
        background-color: transparent;
        background-image: none;
        background-clip: padding-box;
        border: 1px solid var(--color-nav-pipe);
        border-radius: 0;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        padding-top: .5rem;
        padding-left: .75rem;
        padding-right: 1.5rem
    }

    .form-control:focus {
        border-color: var(--color-focus-border);
        box-shadow: 0 0 0 3px var(--color-focus--border-shadow);
        outline: none;
    }

    .form-control:disabled {
        background-color: var(--color-disable);
        cursor: not-allowed;
    }

    .form-help {
        display: block;
        text-align: start;
        margin: 5px 0 0 -1px;
        color: #d73730 !important;
        font-size: .65em;
        font-weight: 600;
    }
}

.move-bot {
    margin-top: auto;
}

.info-tool {
    position: relative;
    cursor: pointer;
    margin-left: 10px;

    .tooltip {
        border: 2px solid var(--color-box-background);
        box-shadow: #00000026 0 5px 15px;
        padding: 10px;
        background-color: var(--color-page-background);
        border-radius: 15px;
        font-size: .9em;
        position: absolute;
        left: 0;
        margin: 0;
        z-index: 999;
        min-width: 100px;
        max-width: 400px;

        @media (min-width: 500px) {
            min-width: 300px;
        }

    }
}

.group-horizontal {

    margin: 0;
    // position: relative;

    .form-label {
        grid-area: form-label
    }

    .form-group {
        grid-area: form-group;
    }

    .icon-pencil {
        grid-area: icon-pencil;
        align-self: center;
        color: var(--color-table-th-text);
    }

    display: grid;
    grid-gap: 10px;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "form-label form-label"
    "form-group icon-pencil";

    .form-label {
        display: flex;
        align-items: center;
        position: relative;
    }

    .form-control {
        text-align: right !important;
        background: none !important;
        margin: 0 !important;
        border: none !important;
        right: 0 !important;
        right: -20px !important;
        padding-right: 20px !important;
        // position: absolute !important;
        // padding: 0 20px 0 0 !important;
        // width: auto !important;

    }

    .allow-edit {
        color: var(--color-main-theme);
        cursor: pointer;
    }

    .form-control:focus {
        box-shadow: none !important;
    }

    .form-help {}

    @media (min-width: 400px) {
        grid-template-columns: repeat(1, 2fr 1fr auto);
        grid-template-areas: "form-label form-group icon-pencil"
    }
}
</style>
