<script setup lang="ts">
import { TRadio } from '@/Scripts/Common/Types/UIStuff';
import { PropType } from 'vue';

const emits = defineEmits(['update:modelValue', 'CHANGE']);

const props = defineProps({
  modelValue: {
    required: true,
    // default: ''
  },
  item: {
    type: Object as PropType<TRadio>,
    required: true
  },
  disabled: {
    type: Boolean
  }
});

const onClick = () => {
  if (props.disabled) {
    return;
  }
  emits('update:modelValue', (props.item.value));
  emits('CHANGE', props.item.value);
}

</script>

<template>
  <div class="radio-root" v-bind:class="item.alignClass ?? 'horizontal'" @click="onClick">
    <span class="radio-button">
      <i v-if="modelValue === item.value" class="icon-radio-checked"></i>
      <i v-else class="icon-radio-unchecked"></i>
    </span>
    <slot>
      <p>{{ item.value }}</p>
    </slot>
  </div>
</template>


<style lang="scss">
.radio-root {
  cursor: pointer;
  display: grid;
  justify-content: start;

  .radio-button {
    i {
      color: var(--color-main-theme);
    }
  }
}

.horizontal {
  grid-auto-flow: column;
  align-items: center;
  grid-column-gap: 1rem;
}

.vertical {
  justify-items: center;
  grid-row-gap: 0.1rem;
}
</style>