table {
		border: 0;
}

table caption {
		font-size: 1.3em;
}

table thead {
		border: none;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
}

table tr {
		border-bottom: 3px solid #ddd;
		display: block;
		margin-bottom: .625em;
}

tr:nth-child(even) {
		td {
				border-color: #bdbdbd;
		}
}

table td {
		border-bottom: 1px solid #ddd;
		display: block;
		font-size: .8em;
		text-align: right;
		padding: 5px;
}

table td::before {
		content: attr(data-label);
		float: left;
		font-weight: bold;
		text-transform: uppercase;
		padding-right: 10px;
}

table td:last-child {
		border-bottom: 0;
		padding-bottom: 15px;
}
