@using ConsumerPortal.Models
@model ConsumerPortal.ViewModels.HomeViewModel
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Consumer Portal</title>
  <link rel="icon" type="image/png" href="/img/favicon-32x32-41126827.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/img/favicon-16x16-78132154.png" sizes="16x16">
  <link rel="shortcut icon" href="/img/favicon-18cc728f.ico">
  <meta name="viewport"
    content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
  <script>sessionStorage.setItem("ConsumerId", '@Model.ConsumerId'); sessionStorage.setItem("VersionNumber", '@Helper.VersionNumber');</script>
  <script type="module" crossorigin src="/js/home-e53cdf50.js"></script>
  <link rel="modulepreload" crossorigin href="/js/vendor-1ef3b915.js">
  <link rel="stylesheet" href="/css/home-d70614b1.css">
</head>

<body>
  <div id="app"></div>
  
  <link rel="stylesheet" href="theme/@Model.ConsumerId/root.css" type="text/css" />
</body>

</html>