@model ConsumerPortal.ViewModels.HomeViewModel
@section HeadJsCss{
  <script type="module" crossorigin src="/js/home.min.js"></script>
  <link rel="modulepreload" crossorigin href="/js/vendor.min.js">
  <link rel="stylesheet" href="/css/home.min.css">
  <link rel="stylesheet" href="theme/@Model.ConsumerId/root.css" type="text/css" />
  <script>
    sessionStorage.setItem("ConsumerId", '@Model.ConsumerId');
  </script>
}
  <div id="app"></div>
