﻿@section HeadJsCss{
    <script src="~/vuejs/js/chunk-vendors.b4bdfa14.js"></script>
    <link href="~/vuejs/css/privacy.d40fc157.css" rel="stylesheet" />
}

<div id="app"></div>

<script src="~/vuejs/js/privacy.ca730339.js"></script>