<script setup lang="ts">
import { IViolation } from '@/Scripts/Home/Interfaces/Insurance';
import { useCommon } from '@/Store/Common';
import { useControls } from '@/Store/Home/Controls';
import { useStateSpec } from '@/Store/Home/StateSpec';
import { useValidate } from '@/Store/Home/Validate';
import { PropType } from 'vue';

const controls = useControls();
const c = useCommon();
const items = controls.GetViolation();
const st = useStateSpec();
const validate = useValidate();


const props = defineProps({
  modelValue: {
    type: Object as PropType<IViolation>,
    required: true,
  }
});


</script>

<template>
  <td class="violation-td1" scope="row" :data-label="c.T('L_Violation')">
    <vDropdown v-model="modelValue.Type" :itemOptions="items.Violation" :noHeader="true"
      :FalconDrop="st.Data.Dropdowns?.DriverOptions?.Violations" />
  </td>
  <td class="violation-td1" :data-label="c.T('L_Date')">
    <vTextbox v-model="modelValue.Date" :item="items.Date" @CHANGE="validate.DateStr" />
  </td>
</template>

<style lang="scss">
.violation-group {
  .violation-td1 {
    .form-group {
      margin-bottom: 0;
    }
  }

  @media (max-width: 580px) {
    @import '@/Styles/verticalTable.scss';

    .violation-td1 {
      .form-group {
        margin-bottom: 15px;
      }
    }

    .remove {
      display: table-cell;
      padding-right: 10px;
    }
  }
}
</style>