<script setup lang="ts">
import { IDriver, IViolation } from '@/Scripts/Home/Interfaces/Insurance';
import { useCommon } from '@/Store/Common';
import { useControls } from '@/Store/Home/Controls';
import { useMaster } from '@/Store/Home/Master';
import { useUI } from '@/Store/Home/UI';
import { PropType, ref, watch } from 'vue';

const controls = useControls();
const c = useCommon();
const master = useMaster();
const hasViolations = controls.HasViolations();
const table = controls.ViolationTable();
const ui = useUI();

const props = defineProps({
  modelValue: {
    type: Object as PropType<IDriver>,
    required: true,
  }
});

let hasViolationValue = ref(props.modelValue.Violations.length > 0 ? 1 : 2);

watch(() => props.modelValue.Violations.length, (newValue) => {
  hasViolationValue.value = newValue > 0 ? 1 : 2;
});

const onChange = () => {
  hasViolationValue.value == 1 ? add() : props.modelValue.Violations = [];
}

const add = () => {
  props.modelValue.Violations.push({} as IViolation);
  ui.RemoveNavComplete();
}
const remove = (index: number) => {
  props.modelValue.Violations.splice(index, 1);
  ui.RemoveNavComplete();
}

</script>

<template>
  <div class="violation-group">
    <div class="double-col-grid violations-div animateQQ">
      <h4 class="animateQQ">{{ c.T("L_Accidents_violations") }}</h4>
      <vDropdown v-model="hasViolationValue" :itemOptions="hasViolations" @CHANGE="onChange" />
    </div>
    <vTransitionTable :value="modelValue.Violations" :control="table" :disabled="master.Misc.SignComplete"
      @REMOVE="remove">
      <template v-slot:head>
        <th scope="col">{{ c.T("L_Violation") }}</th>
        <th scope="col">{{ c.T("L_Date") }}</th>
        <th></th>
      </template>
      <template v-slot:default="slotProps">
        <vAddViolation v-model="slotProps.item" />
      </template>
    </vTransitionTable>
    <vButton :value="controls.AddViolation" @CLICK="!(master.Misc.SignComplete) && add()" />
  </div>
</template>

<style lang="scss">
.violations-div {
  text-align: start;
  padding-bottom: 20px;
}
</style>
