@using ConsumerPortal.Models
<head>
    <title>Consumer Portal</title>
    <link href="~/content/css/falcon.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="~/content/img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/content/img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="shortcut icon" href="~/content/img/favicon/favicon.ico">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <script>function saveVersion(v) {sessionStorage.setItem("VersionNumber",v);}; saveVersion("@Helper.VersionNumber");</script>
</head>
