<script setup lang="ts">
import gsapAnim from "@/Scripts/Common/gsapAnim";
import { TGsap } from "@/Scripts/Common/Types/UIStuff";
import { useCommon } from "@/Store/Common";
import { onMounted } from "vue";

const common = useCommon();
const c = useCommon().Data;
onMounted(() => {
  gsapAnim.fromBottom({
      className: "animateFooter",
      duration: 0.6,
      cord: 100,
      scale: 0,
      staggerFrom: "random",
      ease: "power1",
    } as TGsap);
});
</script>

<template>
  <footer class="footerMain">
    <a class="callUs animateFooter" :href="`tel:+18009293252`">1-800-929-3252</a>
    <div class="version sub animateFooter">{{ c.AppVersion }}</div>
    <!-- link redirected in middleware -->
    <a :href="`Other/PrivacyPolicy/${c.Language}`" target="_blank" class="privacyLink sub animateFooter">{{
      common.T("L_Privay_Pol")
    }}</a>
    <div class="copyright sub animateFooter">&copy; Copyright {{ c.CurrentYear }}</div>
  </footer>
</template>

<style lang="scss">
.footerMain {
  display: none;

  @media (min-width: 992px) {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, auto 1fr auto auto);
    border-top: 1px solid white;
    background-color: var(--color-footer);
    color: var(--color-nav-text);
    height: 44px;
    padding: 0 30px;
    transition: all .3s linear;
    align-content: center;
    align-items: center;

    .sub {
      margin: auto 0;
      font-size: 11px;
    }

    .callUs {
      font-size: 24px;
      color: var(--color-nav-text);
      text-decoration: none;
    }

    .privacyLink {
      color: var(--color-nav-text);
      text-decoration: none;
      border-color: var(--color-nav-pipe);
      border-left: 1px solid;
      border-right: 1px solid;
      padding: 0 10px;
    }

    .version {
      text-align: end;
    }
  }

  @media (min-width: 1900px) {
    height: 46px;
  }
}
</style>