<script setup lang="ts">
import gsapAnim from "@/Scripts/Common/gsapAnim";
import { TGsap } from "@/Scripts/Common/Types/UIStuff";
import { useCommon } from "@/Store/Common";
import { onMounted } from "vue";

const c = useCommon();
onMounted(() => {
  gsapAnim.fromTop({
      className: "animateHeader",
      duration: 0.6,
      cord: 100,
      scale: 0,
      staggerFrom: "random",
      ease: "power1",
    } as TGsap);
});
</script>

<template>
  <header class="headerMain">
    <!-- <img class="agency-logo" :src="agencyLogo" /> -->
    <!-- <img v-if="hasAgencyLogo()" class="agency-logo" src="@/Assets/img/svg/falcontext.svg" /> -->
    <a class="logo" v-bind:class="{ mod: c.HasAgencyLogo() }">
      <img class="logo-shield" src="@/Assets/img/svg/falconshield.svg" />
      <span class="powered">Powered by</span>
      <img class="logo-type" src="@/Assets/img/svg/falcontext.svg" />
    </a>
    <div id="lang" class="animateHeader" v-bind:class="{ 'mod-lang': c.HasAgencyLogo() }">
      <a @click="c.Data.Language !== 'EN' && c.ChangeLang('EN')">{{ c.GetLabel('en') }}</a> |
      <a @click="c.Data.Language !== 'ES' && c.ChangeLang('ES')">{{ c.GetLabel('es') }}</a>
    </div>
  </header>
</template>

<style lang="scss">
@import "@/Styles/header.scss";
</style>