
<script setup lang="ts">
</script>

<template>
  <div class="modal-wrapper">
    <transition name="top-bot-modal-slide" appear>
      <slot />
    </transition>
  </div>
</template>


<style lang="scss" >
.modal-wrapper {
  display: flex;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;

  .top-bot-modal-slide-enter-active {
    transition: all .3s ease !important;
  }

  .top-bot-modal-slide-leave-active {
    transition: all 0s ease !important;
  }
}
</style>
