<script setup lang="ts">
import { TButton, TTransistionTable } from '@/Scripts/Common/Types/UIStuff';
import { useCommon } from '@/Store/Common';
import { nextTick, onMounted, ref } from 'vue';

const common = useCommon();

const emits = defineEmits(['MOUNT', 'REMOVE']);
const props = defineProps<{ value: any[] | string[] | object[] | number[], control: TTransistionTable, mainItemCls?: string, disabled?: boolean }>();

const removeBtn = props.control.removeBtn;
const tempRemoveBtn = removeBtn ? {
  id: removeBtn.id,
  value: removeBtn.value,
  icon: removeBtn.icon ?? "icon-minus",
  class: removeBtn.class ?? "secondary circle",
} as TButton : null;

const toggle = (index: number) => {
  props.control.hide.includes(index) ? props.control.hide.splice(props.control.hide.indexOf(index), 1) : props.control.hide.push(index);
}

const table = ref<HTMLTableElement>({} as HTMLTableElement);

onMounted(() => {
  nextTick(() => {
    emits('MOUNT', (table.value));
  });
});


</script>

<template>
  <table v-if="value.length > 0" class="tra full-table animateQQ" ref="table">
    <slot name="head">
      <thead>
        <tr>
          <slot />
        </tr>
      </thead>
    </slot>
    <transition-group name="right-left-slide" tag="tbody" appear>
      <tr class="trans-row" v-for="(item, index) in value" :key="item">
        <slot :item="item">
          <td style="width: 100%">
            <slot name="itemHead">
              <div class="add-item-header" @click="toggle(index)">
                <h4 v-if="control.header">
                  {{ common.T(control.header) }}{{ control.showCount ? ` ${index + 1}` : '' }}
                </h4>
                <span v-if="control.hide.includes(index) && control.displayName">{{
                  control.displayName && control.displayName(item)
                }}</span>
                <i
                  :class="{ 'icon-nav-down': control.hide.includes(index), 'icon-nav-up': !control.hide.includes(index) }" />
              </div>
            </slot>
            <transition name="top-bot-slide">
              <div v-show="!control.hide.includes(index)">
                <slot name="mainItem" :item="item" :index="index" />
              </div>
            </transition>
          </td>
        </slot>
        <td v-if="tempRemoveBtn" class="remove">
          <vButton :value="tempRemoveBtn" @CLICK="!(disabled) && emits('REMOVE', index)" />
        </td>
      </tr>
    </transition-group>
  </table>
</template>

<style lang="scss">
@import "@/Styles/transitionTable.scss";

.tra {
  position: relative;
  z-index: 1;
}
</style>
