<script setup lang="ts">
import { useCommon } from '@/Store/Common';
import { useMaster } from '@/Store/Home/Master';
import { useStateSpec } from '@/Store/Home/StateSpec';
import { useUI } from '@/Store/Home/UI';
import { onMounted, onUnmounted } from 'vue';
const ui = useUI();
const st = useStateSpec();
const mt = useMaster();
const common = useCommon();
const instance = mt.Instance;
st.Init();
onMounted(() => {
  document.addEventListener('click', () => ui.ClickListener());
});

onUnmounted(() => {
  document.removeEventListener('click', () => ui.ClickListener());
});
</script>

<template>
  <vHeader />
  <div class="mainContent">
    <div class="page-title superContainer">
      <h1>
        {{ common.T('L_GetAQuote') }}{{ instance.Policy.Number ? ` - ${instance.Policy.Number}` : "" }}
      </h1>
    </div>
    <div class="quoteApp superContainer" v-bind:style="{ 'padding-bottom': ui.Data.ContainerPadding }">
      <vNavigation />
      <div class="contentContainer">
        <vSectionWrapper>
          <keep-alive>
            <component :is="ui.GetComponentName" />
          </keep-alive>
        </vSectionWrapper>
      </div>
    </div>
  </div>
  <vFooter />
  <vModalWrapper v-if="common.Data.Popup">
    <component :is="common.Data.Popup.Component"></component>
  </vModalWrapper>
</template>

<style lang="scss">
@import "/src/Styles/main.scss";
</style>
