<script setup lang="ts">
import { useCommon } from "@/Store/Common";

const common = useCommon();

</script>

<template>
  <div class="act-indicator">
    <img src="@/Assets/img/gif/loadingCircle.gif" />
    <p>{{ common.T(common.Data.Popup.Message) }}</p>
  </div>
</template>

<style lang="scss">
.act-indicator {
  background-color: var(--color-page-background);
  box-shadow: 0 0 1.5em #00000059;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;

  p {
    margin: 1rem 0 0 0;
  }

  img {
    width: 3em;
  }

  @media (min-width: 768px) {
    img {
      width: 3.5em;
    }
  }

  @media (min-width: 1900px) {
    img {
      width: 4em;
    }
  }
}
</style>
