<script setup lang="ts">
import { useCommon } from "@/Store/Common";
import { useControls } from "@/Store/Home/Controls";
import { useUI } from "@/Store/Home/UI";

const controls = useControls();
const ui = useUI();
const common = useCommon();
const m = controls.CancelS;
m.value = "L_OK";

</script>

<template>
  <div class="error-modal-root">
    <div class="error-modal-head">
      <p>{{ common.T(common.Data.Popup.Warning ? "L_Warning" : common.Data.Popup.Error ? "L_Error" :
        common.Data.Popup.Title ?? "L_Attention") }}</p>
    </div>
    <div class="error-modal-body">
      <div v-if="common.Data.Popup.Warning || common.Data.Popup.Error"
        v-html="common.Data.Popup.Warning || common.Data.Popup.Error"></div>
      <p class="err" v-if="common.Data.Popup.Message">{{ common.T(common.Data.Popup.Message) }}</p>
      <component v-if="common.Data.Popup.SubComponent" :is="common.Data.Popup.SubComponent"></component>
    </div>
    <div class="error-modal-foot">
      <vButton :value="m" @CLICK="common.Data.Popup.OnClose && common.Data.Popup.OnClose(); ui.ClosePopup();">
      </vButton>
    </div>
  </div>
</template>

<style lang="scss">
.error-modal-root {
  background-color: var(--color-page-background);
  box-shadow: 0 0 1.5em #00000059;
  border-radius: 5px;
  padding: 0.8rem;
  min-width: 100px;

  @media (min-width: 300px) {
    max-width: 80%;
  }

  @media (min-width: 512px) {
    min-width: 450px;
    max-width: 70%;
  }

  @media (min-width: 700px) {
    max-width: 60%;
  }

  @media (min-width: 1200px) {
    max-width: 40%;
  }
}

.error-modal-head {
  position: relative;
  display: flex;
  color: var(--color-page-background);
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: var(--color-title-bar);
}

.error-modal-body {
  padding: 20px;
}

.error-modal-foot {
  display: flex;
  border-top: var(--nav-lines);
  justify-content: center;
  padding: 10px 0;

  .nav-btns-container {
    width: 100%;
  }
}
</style>
