<script setup lang="ts">
import { TTickAnim } from "@/Scripts/Common/Types/UIStuff";
import { onMounted } from "vue";
const props = defineProps<{ value: TTickAnim }>();
const emits = defineEmits(['RUN_TICK']);

const cls = `tick_anim_${props.value.svgCls}`;
onMounted(() => {
  emits("RUN_TICK", cls);
})
</script>

<template>
  <svg :class="cls" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
    <circle class="path circle" v-bind:class="[value.pathCls, value.circleCls]" stroke-miterlimit="10" cx="65.1" cy="65.1"
      r="62.1" />
    <polyline class="path check" v-bind:class="[value.pathCls, value.checkCls]" stroke-linecap="round"
      stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 " />
  </svg>
</template>

<style lang="scss">
@import '@/Styles/transitions.scss';
@import '@/Styles/Misc/keyframes.scss';

svg {
  width: 14px;

  .path {
    fill: none;
    stroke: var(--color-main-theme);
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;

    &.circle {
      stroke-width: 8;
      -webkit-animation: dash .9s ease-in-out;
      animation: dash .9s ease-in-out;
    }

    &.check {
      stroke-width: 20;
      -webkit-animation: dash-check .9s .35s ease-in-out forwards;
      animation: dash-check .9s .35s ease-in-out forwards;
    }
  }
}
</style>
