<script setup lang="ts">
import { TTextbox } from "@/Scripts/Common/Types/UIStuff";
import { IAddress } from "@/Scripts/Home/Interfaces/Insurance";
import { useControls } from "@/Store/Home/Controls";
import { useMaster } from "@/Store/Home/Master";
import { useStateSpec } from "@/Store/Home/StateSpec";
import { useValidate } from "@/Store/Home/Validate";
import { PropType } from "vue";

const validate = useValidate();
const controls = useControls()
const addr = controls.GetAddress();
const st = useStateSpec();
const master = useMaster();
const props = defineProps({
  modelValue: {
    type: Object as PropType<IAddress>,
    required: true,
  },
  addrType: {
    type: String,
    required: true,
    validator: (value: string) => {
      return value === 'Garage' || value === 'Mailing';
    },
  }
});
const getLabel = (addr: IAddress) => {
  return `${addr.Street}, ${addr.City}, ${st.Data.Dropdowns.DriverOptions.LicenseState.Items.find(c => c.Value == addr.State)?.Name} ${addr.Zip}`;
}
</script>

<template>
  <vTextbox v-model="modelValue.Street" :item="addr.Street" @CHANGE="validate.SmartyAddressAutoComplete(modelValue)">
    <div id="smartySelect" v-if="master.Misc.SmartyStreet.Addresses && master.Misc.SmartyStreet.Addresses.length > 0">
      <p v-for="(item, index) in master.Misc.SmartyStreet.Addresses" :key="index"
        @click="validate.UpdateAddress(modelValue, item, addrType, addr.Zip, addr.City)">
        {{ getLabel(item) }}
      </p>
    </div>
  </vTextbox>
  <vTextbox v-model="modelValue.City" :item="addr.City" />
  <vDropdown v-model="modelValue.State" :itemOptions="addr.State" :FalconDrop="st.Data.Dropdowns?.PolicyOptions?.State" />
  <vTextbox v-model="modelValue.Zip" :item="addr.Zip" @CHANGE="(v: string, tb: TTextbox) => validate.ZipAndGetCounties(v, tb, modelValue, addrType)" />
  <!-- <vDropdown v-model="modelValue.County" :itemOptions="addr.County" /> -->
</template>

<style lang="scss">
#tb_street {
  z-index: 2;
}

#smartySelect {
  position: absolute;
  width: 100%;
  background-color: var(--color-page-background);
  border: 1px solid var(--color-nav-pipe);
  border-radius: 5px;
  max-height: 300px;
  overflow: auto;
  box-shadow: var(--color-nav-pipe) 0px 3px 6px, var(--color-nav-pipe) 0px 3px 6px;

  p {
    margin: 0;
    padding: 10px;
    cursor: pointer;
  }

  p:hover {
    background-color: var(--color-nav-pipe);
  }

  p+p {
    border-top: 1px solid var(--color-nav-pipe);
  }
}
</style>
