<script setup lang="ts">
import { En_Address } from "@/Scripts/Home/Enums";
import { IAddress } from "@/Scripts/Home/Interfaces/Insurance";
import { useCommon } from "@/Store/Common";
import { useMaster } from "@/Store/Home/Master";
import { useStateSpec } from "@/Store/Home/StateSpec";

const common = useCommon();
const master = useMaster();
const st = useStateSpec();
const getAddr = (addr: IAddress) => {
  return `${addr.Street}, ${addr.City}, ${st.GetStateStr(addr.State)} ${addr.Zip}`;
}

</script>

<template>
  <p>{{ common.T("L_Error_Provide_Valid_Addr") }}:</p>
  <fieldset>
    <transition-group name="top-bot-slide" tag="ul" appear>
      <li>
        <vRadioButton v-model="master.Misc.SmartyStreet.CurrentSelection" :item="{ value: En_Address.Manual }">
          <div class="radio-item">
            <p class="ag-name">{{ common.T("L_Manual_Addr") }}</p>
          </div>
        </vRadioButton>
      </li>
      <li v-if="master.Misc.SmartyStreet.SuggestedAddress?.Address">
        <vRadioButton v-model="master.Misc.SmartyStreet.CurrentSelection" :item="{ value: En_Address.Suggested }">
          <div class="radio-item">
            <p class="ag-name">{{ common.T("L_Suggest_Addr") }}</p>
            <fieldset class="sugg-addr">
              <p>{{ getAddr(master.Misc.SmartyStreet.SuggestedAddress.Address) }}</p>
            </fieldset>
          </div>
        </vRadioButton>
      </li>
    </transition-group>
  </fieldset>
</template>

<style lang="scss">
.addr-error {
  max-width: 90%;

  @media (min-width: 700px) {
    max-width: 500px;
  }

  @media (min-width: 1200px) {
    max-width: 700px;
  }

  .modal-head {
    align-items: center;
  }
}

.sugg-addr {
  margin-top: 10px;
}
</style>
