<script setup lang="ts">
import { useCommon } from "@/Store/Common";
import { useMaster } from "@/Store/Home/Master";
import { useStateSpec } from "@/Store/Home/StateSpec";

const common = useCommon();
const master = useMaster();
const stateSpec = useStateSpec();

</script>

<template>
  <p>{{ common.T("L_Modal_Agency_has_multi_locations") }}:</p>
  <fieldset>
    <transition-group name="top-bot-slide" tag="ul" appear>
      <li v-for="agency in stateSpec.Data.Agencies" :key="agency.Id">
        <vRadioButton v-model="master.Instance.Agency" :item="{ value: agency }">
          <div class="radio-item">
            <p class="ag-name">{{ agency.Name }}</p>
            <p v-for="addr in agency.Addresses" :key="addr">{{ addr.Street }} {{ addr.City }} {{ addr.State }} {{ addr.Zip
            }}</p>
          </div>
        </vRadioButton>
      </li>
    </transition-group>
  </fieldset>
  <p v-if="common.Data.Popup.AgencyError" class="form-help">{{ common.T(common.Data.Popup.AgencyError) }}</p>
</template>

<style lang="scss">
.form-help {
  display: block;
  text-align: start;
  margin: 10px 0 0 0;
  color: #d73730 !important;
  font-size: .65em;
  font-weight: 600;
}

fieldset {
  overflow: auto;
  max-height: 220px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      .iconLabel {
        padding: 10px 0;
      }

      .iconLabel:hover {
        font-weight: 600;
      }
    }

    li+li {
      border-top: var(--nav-lines);
    }
  }
}

.agency-locat {
  .nav-btns-container {
    border-top: 0 !important;
    padding-top: 0 !important;
    margin-top: 10px !important;
  }

  .g {
    margin: auto;
  }
}


.radio-item {
  padding: 10px;

  p {
    margin: 0;
  }

  .ag-name {
    font-weight: 600;
  }
}
</style>
