<script setup lang="ts">
import { useAnim } from "@/Scripts/Home/Composables/anim";
import { useCommon } from "@/Store/Common";
import { useControls } from "@/Store/Home/Controls";
import { useMaster } from "@/Store/Home/Master";
import { useStateSpec } from "@/Store/Home/StateSpec";
import { useValidate } from "@/Store/Home/Validate";

const common = useCommon();
const controls = useControls();
const master = useMaster();
const stateSpec = useStateSpec();
const validate = useValidate();
const info = controls.GetInfo();
useAnim();

</script>

<template>
	<div class="split-container rep-6 user-det animateQQ">
		<h4>{{ common.T("L_Name_Info") }}</h4>
		<vTextbox v-model="master.Instance.PolicyHolder.Name.First" :item="info.FirstName" />
		<vTextbox v-model="master.Instance.PolicyHolder.Name.Middle" :item="info.MiddleName" />
		<vTextbox v-model="master.Instance.PolicyHolder.Name.Last" :item="info.LastName" />
		<vDropdown v-model="master.Instance.PolicyHolder.Name.Gender" :itemOptions="info.Gender"
			:FalconDrop="stateSpec.Data.Dropdowns?.DriverOptions?.Gender" />
		<!-- <vDropdown v-model="master.Instance.Drivers[0].Name.MaritalStatus" :itemOptions="controls.MaritalStatus()" /> -->
		<vTextbox v-model="master.Instance.PolicyHolder.Name.DateOfBirth" :item="info.DOB" @CHANGE="validate.DobStr" />
		<h4>{{ common.T("L_Mailing_Addr") }}</h4>
		<!-- <h4>-->
		<!--<span @click="showGarage = false">{{ $root.T("L_Mailing_Addr") }}</span>-->
		<!--<span @click="showGarage = true">Garage Address</span>-->
		<!--</h4> -->
		<vAddress v-model="master.Instance.PolicyHolder.Address" addrType="Mailing" />
		<vDropdown v-model="master.Instance.Policy.Modifiers.HomeownersDiscount" :itemOptions="info.OwnHome"
			:FalconDrop="stateSpec.Data.Dropdowns?.PolicyOptions?.HomeownersDiscount" />
	</div>
	<vTransitionTable :value="master.Instance.Drivers.slice(1)" :control="controls.DriverTable"
		:disabled="master.Misc.SignComplete" @REMOVE="(index: number) => master.RemoveDriver(index + 1)">
		<template v-slot:mainItem="slotProps">
			<vAddDriver v-model="slotProps.item" :page=1 :index="slotProps.index" />
		</template>
	</vTransitionTable>
	<div class="btn-divider animateQQ">
		<vButton :value="controls.AddDriver" @CLICK="!(master.Misc.SignComplete) && master.AddDriver()" />
	</div>
	<div class="main-veh animateQQ">
		<h4>{{ common.T("L_VehicleInfo") }}</h4>
		<vAddVehicle :vehicle="master.Instance.InsVehicles.Vehicles[0]" cls="split-container rep-3 partv" :page="1"
			:index="0" />
	</div>
	<vTransitionTable :value="master.Instance.InsVehicles.Vehicles.slice(1)" :control="controls.VehicleTable"
		:disabled="master.Misc.SignComplete" @REMOVE="(index: number) => master.RemoveVehicle(index + 1)">
		<template v-slot:mainItem="slotProps">
			<vAddVehicle :vehicle="slotProps.item" :page="1" :index="slotProps.index + 1" />
		</template>
	</vTransitionTable>
	<div class="btn-divider trim-bot animateQQ">
		<vButton :value="controls.AddVehicle" @CLICK="!(master.Misc.SignComplete) && master.AddVehicle()" />
	</div>
	<div class="split-container rep-2 animateQQ">
		<h4>{{ common.T("L_Quote_Info") }}</h4>
		<vDatepicker v-model="master.Instance.Policy.EffectiveDate" :item="controls.EffectiveDate"
			@CHANGE="validate.EffectiveDateStr" :minDate="new Date(stateSpec.Data.EffectiveDate)"
			:maxDate="stateSpec.GetMaxEffectiveDate()" />
	</div>
	<!-- <pre style="text-align: start;">{{ JSON.stringify(master.Instance, null, 2) }}</pre> -->
</template>

<style lang="scss">
.split-container {
	grid-auto-flow: row dense !important;

	@media (min-width: 450px) {
		grid-auto-flow: column dense !important;
	}
}

.temp-vehicle {
	pointer-events: none !important;
	user-select: none;
}

.user-det {

	// @media (min-width: 250px) {

	// 	.horizonalign,
	// 	.zip {
	// 		grid-row: 11;
	// 		grid-column: 1;
	// 		width: 48%;
	// 	}

	// 	.zip {
	// 		margin-left: 52%;
	// 	}
	// }

	/*Just add these if you add marital status combobox in Info page*/
	/*	@media (min-width: 350px) and (max-width: 450px) {

		#dd-gender, #dd-maritalStatus {
			grid-row: 5;
			grid-column: 1;
			width: 48%;
		}

		#dd-maritalStatus {
			margin-left: 52%;
		}
	}*/

	// @media (min-width: 450px) {

	// 	.horizonalign,
	// 	.zip {
	// 		grid-row: 4;
	// 		grid-column: 2;
	// 		width: 48%;
	// 	}

	// 	.zip {
	// 		margin-left: 52%;
	// 	}
	// }

	/*Just add these if you add marital status combobox in Info page*/
	/*	@media (min-width: 612px) {

		#dd-gender, #dd-maritalStatus {
			grid-row: 5;
			grid-column: 1;
			width: 48%;
		}

		#dd-maritalStatus {
			margin-left: 52%;
		}
	}*/
}

.rep-4,
.rep-2 {
	@media (min-width: 450px) {
		h4 {
			grid-column: 1 / span 2;
		}
	}
}

.rep-1 {
	h4 {
		grid-column: 1 / span 2;
	}

	@media (min-width: 450px) {}
}

/*Just add these if you add marital status combobox in Info page*/
/*.rep-6 {
	@media (min-width: 450px) and (max-width: 612px) {
		grid-auto-flow: column dense;
		grid-template-rows: repeat(7, auto);
	}
}*/

.vehicle-dis {
	@media (min-width: 512px) {
		max-width: 500px !important;
	}

	.modal-head {
		.g {
			align-self: center;
		}
	}

	.modal-foot {
		border-top: none;
	}
}
</style>
