:root {
	--color-main-theme: #7c2529;
	--color-button-grad-1: #AF272F;
	--color-button-grad-2: #7c2529;
	--color-text: black;
	--color-button-background: linear-gradient(to bottom, var(--color-button-grad-1), var(--color-button-grad-2));
	--color-button-text: white;
	--color-button-hover: linear-gradient(to top, var(--color-button-grad-1), var(--color-button-grad-2));
	--color-button-dis: linear-gradient(to bottom, #9EA2A2, #707372);
	--color-page-background: white;
	--color-title-bar: var(--color-main-theme);
	--color-title-bar-text: white;
	--color-header: #E5E1E6;
	--color-footer: #E5E1E6;
	--color-nav-bar: #E5E1E6;
	--color-nav-bar-selected: var(--color-page-background);
	--color-nav-lines: #cfd1d1;
	--color-nav-icon-selected: var(--color-main-theme);
	--color-nav-text: #707372;
	--color-nav-icon: #383939;
	--color-nav-icon-linear: linear-gradient(to bottom right, var(--color-nav-text), var(--color-nav-icon));
	--color-nav-pipe: #9EA2A2;
	--color-nav-text-selected: black;
	--color-content-background: white;
	--color-label: var(--color-nav-text);
	--color-focus-border: rgb(0 123 255 / 45%);
	--color-focus--border-shadow: rgb(0 123 255 / 25%);
	--color-disable: #e9ecef;
	--color-table-text: #212529;
	--color-table-lines: #dee2e6;
	--color-table-th-text: #495057;
	--color-add-driver: #FD8401;
	--color-box-background: #D9EBF2;
	--color-box-text: #0076a8;
}
