@import 'fonts.css';
@import 'themes.css';

html {
	line-height: 1.15;
	font-size: 14px;
	box-sizing: border-box;
	height: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	display: flex;
	font-size: 14px;
	flex-direction: column;
	align-content: stretch;
	min-height: 100vh;
	overflow-y: scroll;
	margin: 0;
	/*background-color: var(--color-nav-bar);*/
}

html, body {
	font-family: var(--falcon-font);
}

a {
	cursor: pointer;
}

.error-container {
	margin: 6em 1.2em 5em 1.2em;
	padding: 20px;
	border: 2.5px solid red;
}

.error-container>h1 {
	color: red
}

@media (min-width: 420px) {
	.error-container {
		margin: 5em 3em 5em 3em;
		padding: 20px;
		border: 2.5px solid red;
	}
}

@media only screen and (min-width: 768px) {
	html, body {
		font-size: 16px;
	}
}

@media only screen and (min-width: 1200px) {
	html, body {
		font-size: 18px;
	}
}

@media only screen and (min-width: 1900px) {
	html, body {
		font-size: 20px;
	}
}
