@import 'https://fonts.googleapis.com/css?family=Work+Sans:300,400,600,800';

:root {
	--falcon-font: 'Work Sans', Arial;
}

@font-face {
	font-family: 'CPIcoMoon'; 
	src: url('../fonts/CPIcoMoon.eot?rr9sk7');
	src: url('../fonts/CPIcoMoon.eot?rr9sk7#iefix') format('embedded-opentype'), url('../fonts/CPIcoMoon.ttf?rr9sk7') format('truetype'), url('../fonts/CPIcoMoon.woff?rr9sk7') format('woff'), url('../fonts/CPIcoMoon.svg?rr9sk7#CPIcoMoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	color: inherit;
	font-family: 'CPIcoMoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-clipboard:before {
	content: "\e902";
}

.icon-phone1:before {
	content: "\e942";
}

.icon-users:before {
	content: "\e972";
}

.icon-doc-pdf:before {
	content: "\e903";
}

.icon-doc-text:before {
	content: "\e913";
}

.icon-list-ul:before {
	content: "\e904";
}

.icon-arrow-circle-right:before {
	content: "\e905";
}

.icon-nav-left:before {
	content: "\e90d";
}

.icon-nav-right:before {
	content: "\e90c";
}

.icon-nav-down:before {
	content: "\e90e";
}

.icon-nav-up:before {
	content: "\e90f";
}

.icon-minus:before {
	content: "\e90b";
}

.icon-checkbox-checked:before {
	content: "\e907";
}

.icon-checkbox-uncheck:before {
	content: "\e906";
}

.icon-info:before {
	content: "\e908";
}

.icon-pencil:before {
	content: "\e909";
}

.icon-radio-unchecked:before {
	content: "\e910";
}

.icon-radio-checked:before {
	content: "\e911";
}

.icon-pdf:before {
	content: "\e903";
}

.icon-start:before {
	content: "\e912";
}

.icon-shield-tick:before {
	content: "\e914";
}

.icon-doc-bill:before {
	content: "\e915";
}

.icon-cars:before {
	content: "\e916";
}

.icon-calendar:before {
	content: "\e91c";
}

.icon-location:before {
	content: "\e917";
}

.icon-user-location:before {
	content: "\e918";
}

.icon-cancel:before {
	content: "\e900";
}

.icon-check:before {
	content: "\e901";
}

.icon-cross:before {
	content: "\e919";
}

.icon-check-circle:before {
	content: "\e91b";
}

.icon-warning:before {
	content: "\e91a";
}
