<script setup lang="ts">
import { useAnim } from "@/Scripts/Home/Composables/anim";
import { useCommon } from "@/Store/Common";
import { useControls } from "@/Store/Home/Controls";
import { useMaster } from "@/Store/Home/Master";

const c = useCommon();
const controls = useControls();
const master = useMaster();

const getStatus = (status: string) => {
  switch (status) {
    case "Default":
      return "L_Incomplete";
    case "signing_complete":
      master.Misc.SignComplete = true;
      return "L_Complete";
    case "Decline":
      return "L_Declined";
    case "tt_expired":
      return "L_Expired";
    default:
      return "L_Incomplete";
  }
}

const getIcon = (status: string) => {
  switch (status) {
    case "Default":
      return "";
    case "signing_complete":
      return "icon-check-circle";
    case "Decline":
      return "icon-cross";
    case "tt_expired":
      return "icon-warning";
    default:
      return "icon-cross";
  }
}
useAnim();
</script>

<template>
  <div class="esign-cont animateQQ" v-for="item in master.ESign.DocuSignItems" :key="item.ClientUserId">
    <span id="signer-name">{{ item.Name }} ({{ item.Signer != 'Other' ? c.T('L_' + item.Signer) : item.Signer }})</span>
    <span id="signer-status">{{ c.T("L_Status") }}: {{ c.T(getStatus(item.Status)) }}
      <i :class="getIcon(item.Status)" /></span>
    <vButton v-if="item.Status != 'signing_complete'" :value="controls.LaunchEsign"
      @CLICK="master.LaunchEsignPop(item)" />
  </div>
  <p class="form-label animateQQ">*{{ c.T("L_Quote_lock_esign_complete") }}</p>
</template>

<style lang="scss">
.esign-cont {
  display: grid;
  padding: 10px 0;

  span {
    margin: 5px;
  }

  #signer-name {
    grid-area: col1;
  }

  #signer-status {
    grid-area: col2;

    .icon-check-circle {
      color: #27af27;
    }

    .icon-cross {
      color: #d73730;
    }

    .icon-warning {
      color: #FD8401;
    }
  }

  #btn-launchEsign {
    grid-area: col3;
    margin: 5px;
    margin-right: auto;
  }

  grid-template-columns: repeat(1, auto);
  grid-template-areas: "col1" "col2" "col3";

  @media (min-width: 512px) {
    grid-template-columns: repeat(1, 1fr auto);
    grid-template-areas: "col1 col3" "col2 col3";

    #btn-launchEsign {
      margin: auto;
    }
  }
}

.esign-cont+.esign-cont {
  border-top: 1px solid var(--color-nav-lines);
}
</style>
