<script setup lang="ts">
import { useCommon } from "@/Store/Common";
const c = useCommon();
</script>

<template>
  <div class="main-frame">
    <iframe :src="c.Data.Popup.Url" frameborder="0" />
  </div>
</template>

<style lang="scss">
.esign {
  width: 95%;

  .g {
    margin: auto;
  }

  @media (min-width: 512px) {
    max-width: 90%;
  }

  @media (min-width: 1300px) {
    max-width: 1200px;
  }

  .main-frame {
    height: calc(100vh - 120px) !important;
    border: 1px solid var(--nav-lines);
    width: 100%;
    height: 100%;
    background-color: var(--color-page-background);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    max-width: 1080px;
    margin: auto;

    iframe {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      height: 100%;
      width: 100%;
    }
  }
}
</style>
