<script setup lang="ts">
import { ICreditCard } from "@/Scripts/Home/Interfaces/Insurance";
import { useCommon } from "@/Store/Common";
import { useControls } from "@/Store/Home/Controls";
import { useValidate } from "@/Store/Home/Validate";
import { PropType } from "vue";

const c = useCommon();
const controls = useControls();
const validate = useValidate();

const payment = controls.GetCC();

const props = defineProps({
  modelValue: {
    type: Object as PropType<ICreditCard>,
    required: true,
  }
});
</script>

<template>
  <transition name="top-bot-slide" tag="ul" appear>
    <div class="double-col-grid">
      <vTextbox v-model="modelValue.HolderName" :item="payment.CardHolderName" />
      <vTextbox v-model="modelValue.Number" :item="payment.CardNumber" @CHANGE="validate.CardNumber" />
      <vDropdown v-model="modelValue.Expiration.Month" :itemOptions="payment.CardMonth" />
      <vDropdown v-model="modelValue.Expiration.Year" :itemOptions="payment.CardYear" />
      <vTextbox v-model="modelValue.Zip" :item="payment.Zip" @CHANGE="validate.Zip" />
      <div class="form-group accepted-payment-types">
        <label class="form-label">{{ c.T("L_Accepted_payment_types") }}:</label>
        <div class="payment-type-imgs">
          <img src="@/Assets/img/cards/visa.jpg" />
          <img src="@/Assets/img/cards/mastercard.jpg" />
          <img src="@/Assets/img/cards/discover.jpg" />
        </div>
      </div>
    </div>
  </transition>
</template>

<style lang="scss">
@media (max-width: 511px) {
  .accepted-payment-types {
    grid-row: 1;
  }
}

.payment-type-imgs {
  display: flex;
  padding: 0.3rem 0;

  img {
    width: 50px;
    height: 32px;

    @media (min-width: 1000px) {
      width: 57px;
      height: 35px;
    }

    @media (min-width: 1900px) {
      width: 65px;
      height: 42px;
    }
  }

  img+img {
    margin-left: 15px;
  }
}
</style>
