<script setup lang="ts">
import { TTextbox } from "@/Scripts/Common/Types/UIStuff";
import { IEft } from "@/Scripts/Home/Interfaces/Insurance";
import { useControls } from "@/Store/Home/Controls";
import { useValidate } from "@/Store/Home/Validate";
import { PropType, ref } from "vue";

const controls = useControls();
const validate = useValidate();

const payment = controls.GetEFT();

const confirmRout = ref<string | undefined>();
const confirmNum = ref<string | undefined>();

const props = defineProps({
  modelValue: {
    type: Object as PropType<IEft>,
    required: true,
  }
});
</script>

<template>
  <transition name="top-bot-slide" tag="ul" appear>
    <div class="double-col-grid">
      <vDropdown v-model="modelValue.Type" :itemOptions="payment.EftType" />
      <vTextbox v-model="modelValue.FullName" :item="payment.AccHolderName" />
      <vTextbox v-model="modelValue.RoutingNumber" :item="payment.RoutingNumber"
        @CHANGE="(v: string) => validate.CheckConfirm(v, confirmRout, payment.RoutingNumberConfirm, 'L_Error_Routing_mismatch')" />
      <vTextbox v-model="confirmRout" :item="payment.RoutingNumberConfirm"
        @CHANGE="(v: string, tb: TTextbox) => validate.Confirm(v, modelValue.RoutingNumber, tb, 'L_Error_Routing_mismatch')" />
      <vTextbox v-model="modelValue.AccountNumber" :item="payment.AccNumber"
        @CHANGE="(v: string) => validate.CheckConfirm(v, confirmNum, payment.AccNumberConfirm, 'L_Error_Acc_num_mismatch')" />
      <vTextbox v-model="confirmNum" :item="payment.AccNumberConfirm"
        @CHANGE="(v: string, tb: TTextbox) => validate.Confirm(v, modelValue.AccountNumber, tb, 'L_Error_Acc_num_mismatch')" />
    </div>
  </transition>
</template>
