<script setup lang="ts">
import { useAnim } from "@/Scripts/Home/Composables/anim";
import { useMaster } from "@/Store/Home/Master";

const master = useMaster();
useAnim();
</script>

<template>
  <vPaymentType v-model="master.Payment" title="L_Enter_payment_info_for_today"></vPaymentType>
  <!-- <vPaymentType v-if="master.Instance.Policy.PaymentInfo.RecurringPayment" v-model="master.Instance.Policy.PaymentInfo.RecurringPayment" title="L_Enter_payment_info_for_recurring" /> -->
</template>