<script setup lang="ts">
import { IPayment } from "@/Scripts/Home/Interfaces/Insurance";
import { useCommon } from "@/Store/Common";
import { useMaster } from "@/Store/Home/Master";
import { useStateSpec } from "@/Store/Home/StateSpec";
import { PropType } from "vue";

const c = useCommon();
const st = useStateSpec();
const master = useMaster();

const props = defineProps({
  modelValue: {
    type: Object as PropType<IPayment>,
    required: true,
  },
  title: {
    type: String,
    required: true,
  },
});
</script>

<template>
  <p class="form-label animateQQ">{{ c.T(title, [modelValue.Amount.toFixed(2)]) }}</p>
  <div class="pay-radio-buttons tt-anim1">
    <vRadioButton v-for="radio in  [{ value: 1, label: 'L_CC' }, { value: 2, label: 'L_Checking_Savings_Acc' }] "
      :key="radio" v-model="modelValue.Type" :item="radio"
      @CHANGE="modelValue.Type == 1 ? master.ClearEFTPayment(modelValue) : master.ClearCCPayment(modelValue)">
      <label class="form-label" v-bind:class="{ 'highlight': modelValue.Type == radio.value }">{{ c.T(radio.label)
      }}</label>
    </vRadioButton>
  </div>
  <vCreditCard v-if="modelValue.Type == 1" v-model="modelValue.CreditCard" />
  <vEft v-else v-model="modelValue.Eft" />
</template>

<style lang="scss">
.pay-radio-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  margin-bottom: 20px;

  label {
    cursor: pointer;
    padding-top: 0%;
    // color: var(--color-text);
  }

  .highlight {
    color: var(--color-text);
  }

  .horizontal {
    grid-column-gap: 0.3rem;
    padding: 15px;
  }

  .form-group {
    margin-bottom: 0;
  }

  .radio-root {
    padding-left: 0;
  }

  @media (min-width: 416px) {
    margin-bottom: 0;

    .radio-root+.radio-root {
      margin-left: 25px;
    }
  }
}
</style>