.part {
	display: grid;
	position: relative;

	@media only screen and (min-width: 512px) {
		grid-column-gap: 20px;
	}
}

.part4 {
	position: relative;
	z-index: 1;
}

@media only screen and (min-width: 400px) {
	.part {
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 10px;
	}
}


@media (min-width: 478px) {
	.part1 {
		grid-template-columns: repeat(3, 1fr);
	}

	.part3 {
		grid-template-columns: repeat(3, 1fr);
	}

	.part4 {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 600px) and (max-width: 991px) {
	.part2 {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (min-width: 1400px) {
	.part2 {
		grid-template-columns: repeat(4, 1fr);
	}
}