.headerMain {
	background-color: var(--color-header);
	display: block;
	position: relative;
	height: 50px;
	transition: all .2s !important;

	.agency-logo {
		position: absolute;
		max-width: 100px;
		height: 95%;
		top: 5%;
		left: 10px;
		padding: 0;
	}

	.logo {
		position: absolute;
		width: 70%;
		height: 100%;
		padding: 0;
		transition: all .3s !important;

		.powered {
			position: absolute;
			top: 12%;
			left: 49px;
			font-size: 11px;
			transition: all .3s !important;
			color: var(--color-nav-text);
		}

		.logo-shield {
			position: absolute;
			left: 6px;
			top: 5%;
			height: 85%;
		}

		.logo-type {
			position: absolute;
			left: 49px;
			height: 40%;
			bottom: 18%;
		}

		@media (min-width: 400px) {
			left: 15px;
		}
	}

	.mod {
		left: 120px;

		.logo-type {
			display: none;
		}

		.powered {
			left: 0;
			top: 4%;
			font-size: 9px;
		}

		.logo-shield {
			top: 25%;
			height: 70%;
		}

		@media (min-width: 340px) {

			left: 150px;

			.logo-type {
				display: block;
				left: 48px;
				height: 40%;
			}

			.logo-shield {
				top: 10%;
				height: 80%;
			}

			.powered {
				left: 48px;
				top: 13%;
				font-size: 9px;
			}
		}
	}

	#lang {
		position: absolute;
		right: 0;
		color: var(--color-nav-text);
		padding: 0 10px;
		top: 35%;

		@media (min-width: 314px) {}
	}

	.mod-lang {
		top: 95px !important;
		font-size: 10px;
		padding-right: 5px !important;

		@media (min-width: 275px) {
			top: 50% !important;
			font-size: 10px;
			padding-right: 5px !important;
		}

		@media (min-width: 300px) {
			top: 40% !important;
			font-size: 12px;
			padding-right: 10px !important;
		}

		@media (min-width: 340px) {
			top: 97px !important;
		}

		@media (min-width: 395px) {
			top: 50% !important;
			padding-right: 15px !important;
		}
	}

	@media (min-width: 768px) {
		height: 75px;

		.agency-logo {
			max-width: 200px;
		}

		.logo {
			width: 50%;

			.powered {
				left: 70px;
				font-size: 12px;
			}

			.logo-type {
				left: 70px;
				height: 45%;
			}
		}

		.mod {
			left: 250px;

			.logo-type {
				display: block;
				left: 60px;
			}

			.logo-shield {
				top: 10%;
				height: 75%;
			}

			.powered {
				left: 62px;
				top: 16%;
				font-size: 12px;
			}
		}

		#lang {
			top: 40%;
			padding: 0 20px;
		}

		.mod-lang {
			font-size: 12px;
		}
	}

	@media (min-width: 1000px) {
		height: 110px;

		.agency-logo {
			left: 30px !important;
			max-width: 250px;
		}

		.logo {
			.powered {
				left: 100px;
				font-size: 16px;
			}

			.logo-type {
				left: 100px;
				bottom: 20%;
			}
		}

		.mod {
			left: 320px;

			.logo-type {
				display: block;
				left: 95px;
			}

			.logo-shield {
				top: 10%;
				height: 80%;
			}

			.powered {
				left: 95px;
				top: 16%;
				font-size: 14px;
			}
		}

		#lang {
			top: 45%;
			padding: 0 40px;
		}

		.mod-lang {
			font-size: 14px;
			top: 50px !important;
		}
	}

	@media (min-width: 1200px) {

		.agency-logo {
			max-width: 300px !important;
		}

		.logo {
			.powered {
				font-size: 18px;
			}
		}

		.mod {

			left: 380px;

			.logo-type {
				bottom: 16%;
			}
		}

		.mod-lang {
			font-size: 18px;
		}
	}

	@media (min-width: 1900px) {
		height: 150px;

		.agency-logo {
			max-width: 480px !important;
		}

		.logo {
			left: 35px;

			.powered {
				left: 140px;
				font-size: 24px;
			}

			.logo-type {
				left: 140px;
				bottom: 20%;
			}
		}

		.mod {

			left: 580px;

			.logo-type {
				bottom: 16%;
			}
		}

		#lang {
			padding: 0 50px;
		}

		.mod-lang {
			font-size: 20px;
			right: 60px !important;
			top: 65px !important;
		}
	}
}