@import "@/Assets/css/falcon.css";
@import '@/Styles/mainCommon.scss';

.mainContent {
	--content-height: calc(100vh - 471px);
	background-color: var(--color-page-background);
	min-height: var(--content-height);
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;

	h4 {
		font-size: 11px;
		text-transform: uppercase;
		color: var(--color-label);
	}

	.quoteApp {
		padding-bottom: 420px;
	}

	.page-title {
		height: 40px;
		display: block;
		background-color: var(--color-title-bar);

		h1 {
			margin: auto 0;
			font-size: 12px;
			font-weight: 600;
			line-height: 40px;
			color: var(--color-title-bar-text);
			text-shadow: 2px 2px 6px rgb(203 44 48 / 25%);
		}
	}

	@media only screen and (min-width: 157px) {
		--content-height: calc(100vh - 281px);

		.quoteApp {
			padding-bottom: 210px;
		}
	}

	@media only screen and (min-width: 227px) {
		--content-height: calc(100vh - 191px);

		.quoteApp {
			padding-bottom: 140px;
		}

		.page-title {

			h1 {
				font-size: 20px;
			}
		}
	}

	@media only screen and (min-width: 420px) {
		--content-height: calc(100vh - 121px);

		.quoteApp {
			padding-bottom: 70px;
		}
	}

	@media only screen and (min-width: 768px) {
		--content-height: calc(100vh - 146px);

		.page-title {
			height: 55px;

			h1 {
				font-size: 22px;
				line-height: 55px;
			}
		}
	}

	@media only screen and (min-width: 992px) {
		--content-height: calc(100vh - 119px);
		background: linear-gradient(to right, var(--color-nav-bar) 50%, var(--color-content-background) 50%);

		.quoteApp {
			display: flex;
			min-height: calc(100vh - 174.5px);
			padding-bottom: 0;
		}
	}

	@media screen and (min-width: 1000px) {
		--content-height: calc(100vh - 155px);

		.quoteApp {
			display: flex;
			min-height: calc(100vh - 210px);
		}
	}

	@media only screen and (min-width: 1200px) {
		h4 {
			font-size: 12px;
		}

		.page-title {

			h1 {
				font-size: 28px;
			}
		}
	}

	@media only screen and (min-width: 1900px) {

		h4 {
			font-size: 13px;
		}

		--content-height: calc(100vh - 197px);

		.quoteApp {
			min-height: calc(100vh - 252px);
		}
	}
}

.flex-container {
	display: flex;
	justify-content: center;
}

.detail-box {
	padding: 15px;
	margin: 0 0 15px 0;
	border-radius: 0.5em;
	border: 1px solid var(--color-nav-lines);
	box-shadow: 0px 11px 8px -10px #ccc, 0px -4px 8px -10px #ccc;
}

.error-heading {
	color: var(--color-page-background);
}

.error-text {
	padding: 0;
	margin: 0;
	padding: 15px 15px 30px 15px;
}

.error-list-item {
	padding: 15px;

	&:last-of-type {
		padding: 15px 15px 30px 15px;
	}
}

.error-modal-wrapper {
	align-items: center;

	.modal-main {
		margin-top: 0 !important;

		.modal-body {
			max-height: calc(100vh - 250px);
			overflow: auto;
		}

		.modal-foot {
			border-top: 1px solid var(--color-main-theme);
		}
	}
}

.contentContainer {
	background-color: var(--color-content-background);
	padding-top: 30px;
	padding-bottom: 30px;

	h2 {
		margin-top: 0;
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 0.5rem;
	}

	@media only screen and (min-width: 624px) {
		padding: 30px;
	}

	@media only screen and (min-width: 912px) {
		padding: 50px;
	}

	@media (min-width: 992px) {
		width: 70.90%;
		padding-left: 7%;
		padding-right: 10%;
		padding-top: 50px;
		padding-bottom: 50px;
	}

	@media (min-width: 1200px) {
		width: 66.50%;
	}

	@media (min-width: 1900px) {
		width: 66.20%;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
}

.nav-btns-container {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid var(--color-nav-lines);
	padding-top: 30px;
	margin-top: 30px;
	flex-wrap: wrap-reverse;

	.btn {
		margin-bottom: 10px;
	}
}

.pointer {
	cursor: pointer
}

.help-down {
	display: inline-block;
	margin: 5px 0 0 0;
	color: #d73730 !important;
	font-size: 11px;
	font-weight: bold;
}