button, input, optgroup, select, textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

.superContainer {
	padding: 0 15px;

	@media only screen and (min-width: 200px) {
		padding: 0 20px;
	}

	@media only screen and (min-width: 300px) {
		padding: 0 30px;
	}

	@media only screen and (min-width: 1200px) {
		padding: 0 38px;
	}

	@media only screen and (min-width: 1900px) {
		padding: 0 60px;
	}
}

.right-align {
	margin-left: auto;
}

.gcol3 {
	display: grid;
	grid-template-columns: repeat(1,auto auto auto);
	.colon {
		padding: 0 0.5em 0 0.2em; 
	}
}
