.navContainer {
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	min-height: 70px;
	background-color: var(--color-nav-bar);
	background-image: url("@/Assets/img/nav-shadow-h.png");
	background-repeat: repeat-x;
	background-position: top left;
	z-index: 100;
	transition: bottom 0.25s;

	.nav-list-item {
		font-size: .8em;
		color: var(--color-nav-text);
	}

	.drawer {
		display: none;
	}

	@media (max-width: 991px) {
		.drawer {
			cursor: pointer;
			position: absolute;
			height: 18px;
			background-color: #a9a9a9;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			width: 30px;
			margin: auto;
			border-radius: 40% 5% 0 0;
			background-color: var(--color-nav-bar);
			border: 1px solid var(--color-nav-pipe);
			border-bottom: 0;
			margin-top: -18px;
			right: -1px;

			.line {
				width: 80%;
				border: 1px solid var(--color-nav-text-selected);
				margin: 0 auto;
			}

			.upper {
				width: 60%;
			}
		}
	}


	#mainNav {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		min-height: 70px;

		@import '@/Styles/transitions.scss';

		.local-agent {
			display: grid;
			padding: 10px;
			padding-bottom: 30px;
			grid-gap: 10px;
			color: var(--color-nav-text);
			width: 100%;

			h4 {
				grid-area: col1;
			}

			p {
				grid-area: col2;
			}

			.phone {
				grid-area: col3;
			}

			.addr {
				grid-area: col4;
				display: flex;
				flex-direction: column;
				align-items: baseline;
				overflow-y: auto;
			}


			grid-template-areas: "col1" "col2" "col3" "col4";

			@media (min-width: 350px) {
				grid-template-columns: 1fr 1fr;
				grid-template-areas: "col1 col3" "col2 col4";
			}

			@media (min-width: 624px) {
				grid-template-columns: 1fr 1fr 1fr;
				grid-template-areas: "col1 col3 col4" "col2 col3 col4";

				a {
					display: flex;
					justify-content: center;
				}
			}

			@media (min-width: 992px) {
				grid-template-columns: 1fr;
				grid-template-areas: "col1" "col2" "col3" "col4";

				a {
					display: block;
				}

				.addr {
					max-height: 300px;

					&::-webkit-scrollbar {
						display: none;
					}
				}
			}

			h4,
			p {
				margin: 0;
				font-weight: 600;
			}

			a {
				text-decoration: none;
				color: inherit;

				i {
					float: left;
					padding-right: 10px;
					color: var(--color-main-theme);
				}

				span {
					float: left;
				}
			}
		}

		.navItem {
			flex: 1 16.66%;
			min-width: 70px;
			font-size: 11px;
			cursor: pointer;


			ul {
				list-style: none;
				padding: 0 20px;
				margin: 0;

				li+li {
					padding-top: 5px;
				}
			}

			ul:empty {
				margin: 0;
				padding: 0;
			}

			.navLink {
				font-weight: 600;
				color: var(--color-nav-text);
				position: relative;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				height: 70px;
				box-shadow: none;
				transition: all 0.2s linear;
				cursor: inherit;

				i {
					background-image: -webkit-linear-gradient(to bottom right, var(--color-nav-text), var(--color-nav-icon)); //For Chrome and Safari
					background-image: -moz-linear-gradient(to bottom right, var(--color-nav-text), var(--color-nav-icon)); //For old Fx (3.6 to 15)
					background-image: -ms-linear-gradient(to bottom right, var(--color-nav-text), var(--color-nav-icon)); //For pre-releases of IE 10
					background-image: -o-linear-gradient(to bottom right, var(--color-nav-text), var(--color-nav-icon)); //For old Opera (11.1 to 12.0)
					background-image: var(--color-nav-icon-linear); //Standard syntax in the end
					color: transparent;
					-webkit-background-clip: text;
					background-clip: text;
					vertical-align: middle;
					font-size: 16px;

					@media (min-width: 768px) {
						font-size: 20px;
					}
				}

				/*tick animation component*/
				svg {
					width: 14px;
					position: absolute;
					right: 10px;
					top: 10px;
				}

				.path {
					stroke: var(--color-main-theme);

					&.check {
						stroke-dashoffset: -100;
					}
				}

				.nav-text {
					width: 100%;
					padding-top: 2px;
					padding-bottom: 5px;
					text-align: center;

					i {
						position: absolute;
						right: 5px;
						top: 5px;
						color: var(--color-main-theme)
					}
				}
			}

			.navLink:hover {
				transform: scale(1.008);
			}
		}

		.disable {
			cursor: not-allowed;
		}

		.navItem:hover {

			.navLink:not(.disable),
			.nav-list-item:not(.disable) {
				color: var(--color-nav-text-selected);

				i {
					color: var(--color-nav-icon-selected);
				}
			}
		}

		.active {
			background-color: var(--color-nav-bar-selected);

			.navLink,
			.nav-list-item {
				color: var(--color-nav-text-selected);

				i {
					color: var(--color-nav-icon-selected);
				}
			}
		}
	}

	@media (min-width: 200px) {
		#mainNav {
			.local-agent {
				padding: 20px;
				padding-bottom: 30px;
			}
		}
	}

	@media (min-width: 624px) {
		#mainNav {
			.local-agent {
				padding: 30px;
				padding-bottom: 30px;
			}
		}
	}

	@media (min-width: 992px) {
		position: relative;
		display: flex;
		justify-content: flex-end;
		width: 29.1%;
		background-image: url("@/Assets/img/nav-shadow-v.png");
		background-repeat: repeat-y;
		background-position: top right;

		#mainNav {
			min-width: 240px;
			display: block;
		}

		.outer-nav-full {
			height: 100%;
		}

		.outer-nav {
			position: sticky;
			top: 0;
			height: 50%;

			#mainNav {
				.active {
					color: var(--color-nav-icon-selected);
					border-left: 1px solid var(--color-nav-lines);
					transition: background-color .2s linear, border-left 0.5s linear;
				}

				.navItem {
					flex: 0 auto;
					border-bottom: 1px solid var(--color-nav-lines);
					font-size: 18px;

					ul {
						padding-left: 40px;

						li+li {
							padding-top: 8px;
						}

						padding-bottom: 8px;
					}

					ul:empty {
						margin: 0;
						padding: 0;
					}

					.navLink {
						flex-direction: row;
						height: auto;
						min-height: 50px;

						i {
							font-size: 20px;
							margin-right: 5px;
							margin-left: 15px;
						}

						/*tick animation component*/
						svg {
							width: 25px;
							margin-right: 10px;
							margin-left: 10px;
							float: right;
						}

						.nav-text {
							text-align: left;
							padding: 0;

							img {
								right: 20px;
								top: 14px;
								height: 15px;
								width: 20px;
							}
						}
					}
				}
			}
		}
	}

	@media (min-width: 1200px) {
		width: 34.50%;

		#mainNav {
			min-width: 338px;
		}
	}

	@media (min-width: 1900px) {
		width: 33.80%;

		#mainNav {
			min-width: 600px;
		}
	}


}