.full-table {
	width: 100%;
	margin-bottom: 1rem;
	color: var(--color-table-text);
	border-collapse: collapse;

	th, td {
		padding: 0.75rem;
		vertical-align: top;
		border-top: 1px solid;
		border-color: var(--color-table-lines);
	}

	.remove {
		vertical-align: middle;
		text-align: center;
	}

	th {
		color: var(--color-table-th-text);
		background-color: var(--color-disable);
		vertical-align: bottom;
		border-bottom: 2px solid var(--color-table-lines);
		text-align: inherit;
	}

	.add-item-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		color: var(--color-add-driver);

		h4 {
			color: var(--color-add-driver);
			padding-right: 12px;
		}

		span {
			padding-right: 12px;
			color: var(--color-label);
		}

		i {
			font-size: 150%;
		}
	}

	button {
		margin: auto 0;
	}
}

@import '@/Styles/transitions.scss';

