.left-right-slide-fast-enter-active,
.left-right-slide-fast-leave-active,
.right-left-slide-fast-enter-active,
.right-left-slide-fast-leave-active,
.top-bot-slide-fast-enter-active,
.top-bot-slide-fast-leave-active,
.bot-top-slide-fast-enter-active,
.bot-top-slide-fast-leave-active {
	transition: all .1s ease-out !important;
}

.left-right-slide-enter-active,
.left-right-slide-leave-active,
.right-left-slide-enter-active,
.right-left-slide-leave-active,
.top-bot-slide-enter-active,
.top-bot-slide-leave-active,
.bot-top-slide-enter-active,
.bot-top-slide-leave-active {
	transition: all .3s ease !important;
}

.left-right-slide-enter-from, .left-right-slide-fast-enter-from {
	opacity: 0;
	transform: translateX(-30px);
}

.left-right-slide-leave-to, .left-right-slide-fast-leave-to {
	transform: translateX(30px);
	opacity: 0;
}

.right-left-slide-enter-from, .right-left-slide-fast-enter-from {
	opacity: 0;
	transform: translateX(30px);
}

.right-left-slide-leave-to, .right-left-slide-fast-leave-to {
	transform: translateX(-30px);
	opacity: 0;
}

.top-bot-slide-enter-from, .top-bot-slide-fast-enter-from {
	opacity: 0;
	transform: translateY(-30px);
}

.top-bot-slide-leave-to, .top-bot-slide-fast-leave-to {
	transform: translateY(-30px);
	opacity: 0;
}

.bot-top-slide-enter-from, .bot-top-slide-fast-enter-from {
	opacity: 0;
	transform: translateY(30px);
}

.bot-top-slide-leave-to, .bot-top-slide-fast-leave-to {
	transform: translateY(30px);
	opacity: 0;
}
