	tr {
		border-top: 3px solid var(--color-nav-lines);

		td {
			.textbox {
				.input-placeholder {
					top: 1.65rem;
				}

				input:focus+.input-placeholder,
				.focused {
					top: 18px;
				}
			}
		}
	}

	table {
		border: var(--nav-lines);
	}

	th {
		display: none;
	}

	td {
		display: block;
		text-align: right;
		padding: 0;
		border-top: 0;
		padding-left: 10px;
		padding-top: 10px;
	}

	td+td {
		padding-top: 0;
	}

	td::before {
		display: table;
		content: attr(data-label);
		float: left;
		padding-top: calc(.5rem - 2px);
		margin-bottom: 0;
		font-weight: 700;
		color: var(--color-table-th-text);
		font-size: .95em;
	}