﻿<div style="font-size:15px">
    Risk is not eligible for agency point of sale binding!
    <br /><br />
    <p>To receive a quote on this risk, copies of the following documentation must be submitted to the Falcon underwriting department for review;</p>
    <br />
    <ol>
        <li>
            Any two (2) of the following identity verification documents,
            <ul style="padding-left: 20px;">
                <li>Valid Drivers License or ID card</li>
                <li>Valid ID card issued by any national government</li>
                <li>Valid passport issued by any national government</li>
                <li>Voter ID card</li>
                <li>Birth certificate</li>
            </ul>
        </li>
        <li>
            In addition to the identity documents above, any two (2) of the following address verification documents,
            <ul style="padding-left: 20px;">
                <li>Mortgage or lease agreement</li>
                <li>Property tax bill</li>
                <li>Current utility bill</li>
                <li>Bank statement</li>
                <li>School registration documents</li>
                <li>Government checks showing address</li>
            </ul>
        </li>
        <li>
            In addition to the identity and garaging documents above, two (2) color photos of the vehicle showing all sides, and one of the following vehicle documents (not applicable to non-owners policies),
            <ul style="padding-left: 20px;">
                <li>Vehicle title</li>
                <li>Vehicle registration</li>
                <li>Vehicle bill of sale</li>
            </ul>
        </li>
    </ol>
    <br />
    <p>Falcon underwriting will provide you with either a quote, or a reason for declination to quote, within three (3) business days of receipt of all of the requested documentation listed above.</p>
</div>