.form-label {
	padding-top: calc(.5rem - 2px);
	padding-bottom: calc(.2rem - 2px);
	margin-bottom: 0;
	font-weight: 600;
	color: var(--color-label);
	font-size: .95em;
	display: flex;

	@media only screen and (min-width: 768px) {
		font-size: .8em;
	}
}
