.vue-valid {
	/*border-color: #a0ca8d !important;*/
	background: url("@/Assets/img/correct.jpg") right center no-repeat;
	outline: none !important;
}

.vue-validation-error {
	border-color: #FAA !important;
	background: url("@/Assets/img/error-icon.jpg") right center no-repeat !important;
}

