<script setup lang="ts">
import { TTextbox } from '@/Scripts/Common/Types/UIStuff';
import tools from '@/Scripts/Common/tools';
import { useUI } from '@/Store/Home/UI';
import { PropType, computed, ref } from 'vue';
import "@vuepic/vue-datepicker/dist/main.css";
import { DatePickerInstance } from '@vuepic/vue-datepicker';

const ui = useUI();
const emits = defineEmits(['update:modelValue', 'CHANGE', 'VALIDATE']);
const datepicker = ref<DatePickerInstance>(null);
const props = defineProps({
  modelValue: {
    required: true,
  },
  item: {
    type: Object as PropType<TTextbox>,
    required: true
  },
  minDate: {
    type: Object as PropType<Date>,
  },
  maxDate: {
    type: Object as PropType<Date>,
  }
});

const emitAction = (value: any) => emits('update:modelValue', (value));

const PerformChange = (value: any, p1: any, p2: any) => {
  emitAction(value);
  emits('CHANGE', value, p1, emitAction);
}

const Selection = (date: Date) => {
  emitAction(tools.getDate(date));
}

const currentValue = computed({
  get: () => {
    if (props.modelValue) {
      const tempDate = new Date(props.modelValue as Date);
      let flag = true;
      if (props.maxDate && tempDate > props.maxDate) {
        flag = false;
      }
      if (props.minDate && tempDate < props.minDate) {
        flag = false;
      }
      if (flag) {
        return tempDate;
      }
    }
    return undefined;
  },
  set: (newValue: Date | undefined) => {
    const max = props.maxDate;
    if (max && (newValue && (newValue.getFullYear() > max.getFullYear() || newValue.getMonth() > max.getMonth() || (newValue.getMonth() === max.getMonth() && newValue.getDate() > max.getDate())))) {
      return;
    }
    props.item.error = "";
    if (newValue) {
      const dStr = tools.getDate(newValue);
      emitAction(dStr);
    }
  }
});

</script>

<template>
  <div class="datepicker">
    <vTextbox v-bind:modelValue="modelValue" :item="item" @CHANGE="PerformChange" />
    <vueDatepicker class="dateTextbox" v-model="currentValue" @update:model-value="Selection" ref="datepicker" autoApply
      :enableTimePicker="false" :minDate="minDate" :maxDate="maxDate" preventMinMaxNavigation noToday position="left"
      :teleportCenter="ui.Data.Window.innerWidth < 420" :clearable="false" hideInputIcon></vueDatepicker>
    <i @click="!(item.disabled) && datepicker && datepicker.openMenu()" class="icon-calendar" />
  </div>
</template>

<style lang="scss">
.datepicker {
  display: grid;
  grid-template-columns: repeat(1, 1fr auto);

  .form-group {
    grid-column: 1;
    grid-row: 1;
  }

  .icon-calendar {
    margin: 1.2em 0 0 0;
    padding: 10px;
    font-size: 1.2em;
    grid-column: 2;
    grid-row: 1;
    align-self: start;
    color: var(--color-main-theme);
    cursor: pointer;
  }

  .dateTextbox {
    width: 1px;
    grid-column: 1;
    grid-row: 1;
    visibility: hidden;
    margin: auto 0 15px 0;
  }
}
</style>
