<script setup lang="ts">
import { TTextbox } from '@/Scripts/Common/Types/UIStuff';
import { useCommon } from '@/Store/Common';
import { useControls } from '@/Store/Home/Controls';
import { useUI } from '@/Store/Home/UI';
import { PropType, onMounted, onUnmounted, ref, watch } from 'vue';

const c = useControls();
const ui = useUI();
const common = useCommon();
const emits = defineEmits(['update:modelValue', 'CHANGE']);
const props = defineProps({
	modelValue: {
		required: true,
		// default: ''
	},
	item: {
		type: Object as PropType<TTextbox>,
		required: true
	}
});

const currentValue = ref<any>(props.modelValue);

onMounted(() => {
	ui.AddValidateItems(props.item, currentValue);
});

onUnmounted(() => {
	ui.RemoveValidateItems(props.item);
});

watch(
	() => props.modelValue, (newValue) => {
		currentValue.value = newValue;
	},
);
</script>

<template>
	<vFormGroup v-bind:modelValue="item">
		<div class="textbox">
			<input class="form-control" @input="c.InputHandler($event, props, emits)"
				v-bind:class="[{ inputHasPlaceholder: item.placeholder }, c.GetInputValidationCls(item.error)]"
				v-model.trim="currentValue" v-maska="item.mask" :inputmode="c.GetInputMode(item.type)" :max="item.max"
				:maxlength="item.maxlength" :type="c.GetInputType(item.type)" :disabled="item.disabled" />
			<span class="input-placeholder" v-bind:class="{ focused: modelValue }">{{
				common.T(item.placeholder)
			}}</span>
			<slot />
		</div>
	</vFormGroup>
</template>

<style lang="scss">
/************** Remove Arrows/Spinners *******************/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

/************** Remove Arrows/Spinners *******************/

input::-webkit-calendar-picker-indicator {
	//make parent container's position "relative"
	position: absolute;
	opacity: 0;
	width: 100%;
	right: 0;
	padding-top: .5rem;
}

.textbox {
	position: relative;
	z-index: 1;

	@import "@/Styles/Form/validations.scss";

	.input-placeholder {
		transition: all 0.3s linear;
		position: absolute;
		color: var(--color-label);
		left: 0.75rem;
		top: .6rem;
		z-index: -1;
	}

	input:focus+.input-placeholder,
	.focused {
		font-size: .55rem;
		top: 3px;
		font-weight: 600;
	}

	input:disabled+.input-placeholder {
		z-index: 1;
		cursor: not-allowed;
	}

	input[type=date].form-control {
		padding-top: .39rem;
	}

	.inputHasPlaceholder {
		padding: 0.7rem 0.75rem 0.25rem 0.75rem;
	}
}
</style>
